div.login-wrapper
  h1 Change your password
  - if ('undefined' !== typeof errors && errors.length)
    div.alert-message.block-message.error
      ul#errors
        - each error in errors
          - if (error === "wrong-token")
            li.error Sorry, but but the URL you provided is invalid.
          - if (error === "wrong-pass")
            li.error Your passwords do not match.
  form(action='/change-password', method='POST', id='change-pass-form')
    fieldset
      input(type='hidden', name="token", value=token)
      #password.clearfix
        label(for="password") New password
        .input
          input(type='password', name="password", class="password-fields")
      #confirm-password.clearfix
        label(for="confirm_password") Confirm password
        .input
          input(type='password', name="confirm_password", class="password-fields")
          a#show-password(href="#", data-show="Show password", data-hide="Hide password") Show password
      #submit.actions
        input.btn.primary(type='submit', value='Change') Change
