<%
    var profilePicture = profile.getProfilePicture();
    var profilePictureSet = profile.getProfilePictureSet();
    var profilePictureSrc = profilePicture ? profilePicture.thumb_url : Kin.CONFIG.noPicture;
%>
<div id="profile-pic-cnt" class="photo">
    <a href="#profiles/view/picture-set/<%=profilePictureSet._id %>" title="View Day Care" class="photo-frame">
        <img src="<%=profilePictureSrc %>" alt="<%=profilePicture && profilePicture.description %>" width="140" id="profile-pic" />
    </a>
</div>
<ul id="profile-bt-menu">
    <%
      if (Kin.app.currentUser.get("_id") !== profile.get("_id")) {
    %>
    <li>
        <a href="#quick-message" id="quick-message-bt" class="btn white">Send a message</a>
    </li>
    <%
      }
    %>
</ul>
<ul id="profile-left-menu" class="nav-menu">
    <li id="wall-menu-item" class="<%=(selectedMenuItem === 'wall-menu-item' ? 'selected' : '') %>">
        <a href="#profiles/view/<%=profile.get('_id') %>"><span>Wall</span></a>
    </li>
    <li id="gallery-menu-item" class="<%=(selectedMenuItem === 'gallery-menu-item' ? 'selected' : '') %>">
        <a href="#profiles/view/gallery/<%=profile.get('_id') %>"><span>Gallery</span></a>
    </li>
    <%
      if (profile.get("type") === "daycare" || profile.get("type") === "class") {
    %>
    <li id="our-family-menu-item" class="<%=(selectedMenuItem === 'our-family-menu-item' ? 'selected' : '') %>">
        <a href="#profiles/view/our-family/<%=profile.get('_id') %>"><span>Our Family</span></a>
    </li>
    <%
      }
    %>
</ul>