<div id="general-wrapper" class="add-class">
  <h1>Add class</h1>
  <div class="content-box">
    <form id="add-class-form">
    	<fieldset>
    	    <input type="hidden" name="type" value="class" />
    	    <input type="hidden" name="email" value="<%= new Date().getTime() %>" />
    	    <div class="clearfix">
    	        <label for="name" class="title">Name</label>
    			<div class="input">
    	        	<input type="text" name="name" value="<%=profile.get('name') %>" />
    			</div>
    	    </div>
            <h2>Age of the children apropiate for this class:</h2>
            <div class="clearfix">
                <label for="name" class="title">From</label>
                <div class="input">
                    <input type="text" name="min_class_age" value="" />
                </div>
            </div>
            <div class="clearfix">
                <label for="name" class="title">to</label>
                <div class="input">
                    <input type="text" name="max_class_age" value="" />
                </div>
            </div>
    	</fieldset>
    </form>
  </div>
</div>