<h1>Edit day care</h1>
<form id="day-care-edit-form" class="form">
    <div class="hidden" id="form-messages">
        <h3></h3>
    </div>
    <input type="hidden" name="_id" value="<%=dayCare.get('_id') %>" />
    <div class="grid-12-12">
        <label>Name <em class="form-req">*</em></label>
        <input type="text" name="name" value="<%=dayCare.get('name') %>" />
    </div>
    <div class="grid-12-12">
        <label>Speaking classes <em class="form-req">*</em></label>
        <select multiple="multiple" name="speaking_classes">
        <%
            var speakingClasses = dayCare.get('speaking_classes');
            var speakingClassesOptions = {0: 'English', 1: 'Spanish', 2: 'Russian'};
            _.each(speakingClassesOptions, function (val, key) {
        %>
            <option value="<%=key %>"<% if (_.include(speakingClasses, parseInt(key))) { %> selected="selected"<% } %>><%=val %></option>
        <%
            });
        %>
        </select>
    </div>
    <div class="grid-12-12">
        <label>Address <em class="form-req">*</em></label>
        <input type="text" name="address" value="<%=dayCare.get('address') %>" id="address-autocomplete" />
        <input type="hidden" name="location[lat]" value="<%=dayCare.get('location').lat %>" id="location-lat" />
        <input type="hidden" name="location[lng]" value="<%=dayCare.get('location').lng %>" id="location-lng" />
        <div id="profile-address-maps"></div>
    </div>
    <div class="grid-12-12">
        <label>E-mail <em class="form-req">*</em></label>
        <input type="text" name="email" value="<%=dayCare.get('email') %>" />
    </div>
    <div class="grid-12-12">
        <label>Phone <em class="form-req">*</em></label>
        <input type="text" name="phone" value="<%=dayCare.get('phone') %>" />
    </div>
    <div class="grid-12-12">
        <label>Contact person <em class="form-req">*</em></label>
        <input type="text" name="contact_person" value="<%=dayCare.get('contact_person') %>" />
    </div>
    <div class="grid-12-12">
        <label>Licensed <em class="form-req">*</em></label>
        <ul class="form-list">
            <li>
                <input type="radio" name="licensed" value="1" <% if (dayCare.get('licensed')) { %>checked="checked"<% } %> />
                <label>Yes</label>
            </li>
            <li>
                <input type="radio" name="licensed" value="0"  <% if (!dayCare.get('licensed')) { %>checked="checked"<% } %> />
                <label>No</label>
            </li>
        </ul>
    </div>
    <div class="grid-12-12">
        <label>Type <em class="form-req">*</em></label>
        <select name="type">
        <%
            var type = dayCare.get('type');
            var typeOptions = {'daycare': 'Day Care', 'kindergarten': 'Kindergarten', 'afterschool': 'Afterschool'};
            _.each(typeOptions, function (val, key) {
        %>
            <option value="<%=key %>"<% if (type === key) { %> selected="selected"<% } %>><%=val %></option>
        <%
            });
        %>
        </select>
    </div>
    <div class="grid-12-12">
        <%
            var openedSince = new Date(dayCare.get('opened_since'));
            var openedSinceDay = openedSince.getDate();
            var openedSinceMonth = openedSince.getMonth() + 1;
            var openedSinceYear = openedSince.getFullYear();
            var now = new Date();
        %>
        <label>Opened since <em class="form-req">*</em></label>
        <ul class="form-list">
            <li>
                <select name="opened_since[year]">
                    <% for (var i = now.getFullYear(), lastYear = now.getFullYear() - 20; i >= lastYear; i--) { %>
                    <option value="<%=i %>" <% if (i === openedSinceYear) { print('selected="selected"');} %>><%=i %></option>
                    <% } %>
                </select>
            </li>
            <li>
                <select name="opened_since[month]">
                    <% for (var i = 1; i <= 12; i++) { %>
                    <option value="<%=i %>" <% if (i === openedSinceMonth) { print('selected="selected"');} %>><%=i %></option>
                    <% } %>
                </select>
            </li>
            <li>
                <select name="opened_since[day]">
                    <% for (var i = 1; i <= 31; i++) { %>
                    <option value="<%=i %>" <% if (i === openedSinceDay) { print('selected="selected"');} %>><%=i %></option>
                    <% } %>
                </select>
            </li>
        </ul>
    </div>
    <div class="grid-12-12">
        <label>Open door policy <em class="form-req">*</em></label>
        <ul class="form-list">
            <li>
                <input type="radio" name="open_door_policy" value="1" <% if (dayCare.get('open_door_policy')) { %>checked="checked"<% } %> />
                <label>Yes</label>
            </li>
            <li>
                <input type="radio" name="open_door_policy" value="0"  <% if (!dayCare.get('open_door_policy')) { %>checked="checked"<% } %> />
                <label>No</label>
            </li>
        </ul>
    </div>
    <div class="grid-12-12">
        <label>Serving people with disabilities <em class="form-req">*</em></label>
        <ul class="form-list">
            <li>
                <input type="radio" name="serving_disabilities" value="1" <% if (dayCare.get('serving_disabilities')) { %>checked="checked"<% } %> />
                <label>Yes</label>
            </li>
            <li>
                <input type="radio" name="serving_disabilities" value="0"  <% if (!dayCare.get('serving_disabilities')) { %>checked="checked"<% } %> />
                <label>No</label>
            </li>
        </ul>
    </div>
    <div class="grid-12-12">
        <input type="submit" id="save-day-care-bt" class="form-button" value="Save" />
    </div>
</form>