<h1>Edit day care</h1>
<form id="day-care-edit-form" class="form">
	<fieldset>
    	<div class="hidden alert-message" id="form-messages">
	        <p></p>
	    </div>
	    <input type="hidden" name="_id" value="<%=dayCare.get('_id') %>" />
	    <div class="clearfix">
	        <label for="name">Name</label>
			<div class="input">
	        	<input type="text" name="name" value="<%=dayCare.get('name') %>" />
			</div>
	    </div>
	    <div class="clearfix">
	        <label for="address">Address</label>
			<div class="input">
	        	<input type="text" name="address" value="<%=dayCare.get('address') %>" id="address-autocomplete" />
		        <input type="hidden" name="location[lat]" value="<%=dayCare.get('location').lat %>" id="location-lat" />
		        <input type="hidden" name="location[lng]" value="<%=dayCare.get('location').lng %>" id="location-lng" />
			</div>
	        <div id="profile-address-maps"></div>
	    </div>
	    <div class="clearfix">
	        <label for="email">E-mail</label>
			<div class="input">
	        	<input type="text" name="email" value="<%=dayCare.get('email') %>" />
			</div>
	    </div>
	    <div class="clearfix">
	        <label for="phone">Phone</label>
			<div class="input">
	        	<input type="text" name="phone" value="<%=dayCare.get('phone') %>" />
			</div>
	    </div>
	    <div class="clearfix">
	        <label for="fax">Fax</label>
			<div class="input">
	        	<input type="text" name="fax" value="<%=dayCare.get('fax') %>" />
			</div>
	    </div>
	    <div class="clearfix">
	        <label for="contact_person">Contact person</label>
			<div class="input">
	        	<input type="text" name="contact_person" value="<%=dayCare.get('contact_person') %>" />
			</div>
	    </div>
	    <div class="clearfix">
	        <label>Speaking classes</label>
			<div class="input">
	        	<select multiple="multiple" name="speaking_classes" class="chzn-select" data-placeholder="Add a language...">
		        <%
		            var speakingClasses = dayCare.get('speaking_classes');
		            var speakingClassesOptions = {0: 'English', 1: 'Spanish', 2: 'Russian'};
		            _.each(speakingClassesOptions, function (val, key) {
		        %>
		            <option value="<%=key %>"<% if (_.include(speakingClasses, parseInt(key))) { %> selected="selected"<% } %>><%=val %></option>
		        <%
		            });
		        %>
		        </select>
			</div>
	    </div>
	    <div class="clearfix">
	        <label>Licensed</label>
			<div class="input">
	        	<ul class="inputs-list" id="licensed-options">
		            <li>
						<label>
		                	<input type="radio" name="licensed" value="1" <% if (dayCare.get('licensed')) { %>checked="checked"<% } %> />
		                	<span>Yes</span>
						</label>
		            </li>
		            <li>
						<label>
		                	<input type="radio" name="licensed" value="0"  <% if (!dayCare.get('licensed')) { %>checked="checked"<% } %> />
		                	<span>No</span>
						</label>
		            </li>
		        </ul>
			</div>
	    </div>
	    <div class="clearfix <%= dayCare.get('licensed') ? '' : 'hidden' %>" id="license-number-cnt">
	        <label for="license_number">License number</label>
			<div class="input">
	        	<input type="text" name="license_number" value="<%=dayCare.get('license_number') %>" />
			</div>
	    </div>
	    <div class="clearfix">
	        <label for="type">Type</label>
			<div class="input">
	        	<select name="type" class="normalSelect">
		        <%
		            var type = dayCare.get('type');
		            var typeOptions = {'daycare': 'Day Care', 'kindergarten': 'Kindergarten', 'afterschool': 'Afterschool'};
		            _.each(typeOptions, function (val, key) {
		        %>
		            <option value="<%=key %>"<% if (type === key) { %> selected="selected"<% } %>><%=val %></option>
		        <%
		            });
		        %>
		        </select>
			</div>
	    </div>
	    <div class="clearfix">
	        <%
	            var openedSince = new Date(dayCare.get('opened_since'));
	            var openedSinceDay = openedSince.getDate();
	            var openedSinceMonth = openedSince.getMonth() + 1;
	            var openedSinceYear = openedSince.getFullYear();
	            var now = new Date();
	            var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
	        %>
	        <label>Opened since</label>
			<div class="input">
		        <select name="opened_since[month]" class="mini">
		            <% for (var i = 1; i <= 12; i++) { %>
		            <option value="<%=i %>" <% if (i === openedSinceMonth) { print('selected="selected"');} %>><%=months[i - 1] %></option>
		            <% } %>
		        </select>
		        <select name="opened_since[day]" class="mini">
		            <% for (var i = 1; i <= 31; i++) { %>
		            <option value="<%=i %>" <% if (i === openedSinceDay) { print('selected="selected"');} %>><%=i %></option>
		            <% } %>
		        </select>
		        <select name="opened_since[year]" class="mini">
		            <% for (var i = now.getFullYear(), lastYear = now.getFullYear() - 20; i >= lastYear; i--) { %>
		            <option value="<%=i %>" <% if (i === openedSinceYear) { print('selected="selected"');} %>><%=i %></option>
		            <% } %>
		        </select>
			</div>
	    </div>
	    <div class="clearfix">
	        <label>Open door policy</label>
			<div class="input">
	        	<ul class="inputs-list">
		            <li>
						<label>
		                	<input type="radio" name="open_door_policy" value="1" <% if (dayCare.get('open_door_policy')) { %>checked="checked"<% } %> />
			                <span>Yes</span>
						</label>
		            </li>
		            <li>
						<label>
		                	<input type="radio" name="open_door_policy" value="0"  <% if (!dayCare.get('open_door_policy')) { %>checked="checked"<% } %> />
			                <span>No</span>
						</label>
		            </li>
		        </ul>
			</div>
	    </div>
	    <div class="clearfix">
	        <label>Serving people with disabilities</label>
			<div class="input">
	        	<ul class="inputs-list">
		            <li>
						<label>
		                	<input type="radio" name="serving_disabilities" value="1" <% if (dayCare.get('serving_disabilities')) { %>checked="checked"<% } %> />
			                <span>Yes</span>
						</label>
		            </li>
		            <li>
						<label>
		                	<input type="radio" name="serving_disabilities" value="0"  <% if (!dayCare.get('serving_disabilities')) { %>checked="checked"<% } %> />
			                <span>No</span>
						</label>
		            </li>
		        </ul>
			</div>
	    </div>
	    <div class="actions">
	        <input type="submit" id="save-day-care-bt" class="btn primary" value="Save" />
	    </div>
	</fieldset>
</form>