<h1>Edit environment</h1>

<form id="edit-section-form">
  <fieldset>
  	<div class="clearfix">
      <label class="control-label">Indoors</label>
      <div class="input">
        <ul class="inputs-list" id="indoors-inputs">
          <%
            view.displayTagInputs("indoors");
          %>
        </ul>
      </div>
    </div>
    <div class="clearfix">
      <label class="control-label">Outdoors</label>
      <div class="input">
        <ul class="inputs-list" id="outdoors-inputs">
          <%
            view.displayTagInputs("outdoors");
          %>
        </ul>
      </div>
    </div>
    <div class="clearfix">
      <label class="control-label">Environments for Infants</label>
      <div class="input">
        <ul class="inputs-list" id="for_infants-inputs">
          <%
            view.displayTagInputs("for_infants");
          %>
        </ul>
      </div>
    </div>
    <div class="clearfix">
      <label class="control-label">Health and Safety Issues</label>
      <div class="input">
        <ul class="inputs-list" id="health_and_safety_issues-inputs">
          <%
            view.displayTagInputs("health_and_safety_issues");
          %>
        </ul>
      </div>
    </div>
    <div class="clearfix">
      <label class="control-label">Transportation policies</label>
      <div class="input">
        <ul class="inputs-list" id="transportation_policies-inputs">
          <%
            view.displayTagInputs("transportation_policies");
          %>
        </ul>
      </div>
    </div>
  	<div class="actions">
      <input type="submit" class="btn primary" value="Save" />
    </div>
  </fieldset>
</form>