<div id="general-wrapper" class="enrollment">
  <h1>Enrollment</h1>

  <div class="section-container">
    <% if (section.get("id") === Kin.app.currentUser.get("id")) { %>
    <p class="edit-section">
      <a class="btn" href="#day-care/edit/<%= section.get("name") %>/<%= section.get("id") %>">Edit this information</a>
    </p>
    <% } %>

    <% if (section.exists('typical_day')) { %>
    <h2>Typical Day</h2>

    <ul id="typical-day-list">
    <%
      _.each(section.get('typical_day'), function (day, index) {
        if (day) {
    %>
      <li>
          <span><%= day.start_time %></span> - <span><%= day.end_time %></span>: <span><%=day.description %></span>
      </li>
    <%
        }
      });
    %>
    </ul>
    <% } %>

    <% if (section.exists('application_accepted') || section.exists('parent_visit_tours') ||
          section.exists('child_interview_process') || section.exists('parent_interview_process') ||
          section.exists('dateline_for_applications') || section.exists('application_fee')
      ) { %>
    <div class="content-box">
      <h3>Application process</h3>

      <ul>
        <% if (section.exists('application_accepted')) { %>
        <li>
          <span>Application accepeted:</span> <span><%=section.get('application_accepted') %></span>
        </li>
        <% } %>
        <% if (section.exists('parent_visit_tours')) { %>
        <li>
          <span>Parent visit tours:</span> <span><%=section.get('parent_visit_tours') %></span>
        </li>
        <% } %>
        <% if (section.exists('child_interview_process')) { %>
        <li>
          <span>Child interview process:</span> <span><%=section.get('child_interview_process') %></span>
        </li>
        <% } %>
        <% if (section.exists('parent_interview_process')) { %>
        <li>
          <span>Parent interview process:</span> <span><%=section.get('parent_interview_process') %></span>
        </li>
        <% } %>
        <% if (section.exists('dateline_for_applications')) { %>
        <li>
          <span>Dateline for applications:</span> <span><%=section.get('dateline_for_applications') %></span>
        </li>
        <% } %>
        <% if (section.exists('application_fee')) { %>
        <li>
          <span>Application fee:</span> $<span><%=section.get('application_fee') %></span>
        </li>
        <% } %>
      </ul>
    </div>
    <% } %>

    <div class="content-box">
      <h3>Admission process</h3>

      <ul>
        <% if (section.exists('admission_acceptance_criteria')) { %>
        <li>
          <span>Acceptance criteria:</span> <span><%=section.get('admission_acceptance_criteria') %></span>
        </li>
        <% } %>
        <% if (section.exists('notification_occurs') && section.get('notification_occurs')) { %>
        <li>
          <span>Notification occurs:</span> <span><%=section.get('notification_occurs') %></span>
        </li>
        <% } %>
        <% if (section.exists('deposit_required') && section.get('deposit_required')) { %>
        <li>
          <span>Deposit required:</span> <span><%=section.get('deposit_required') %></span>
        </li>
        <% } %>
        <li>
          <span>Financial aid:</span> <span><% if (section.get('financial_aid')) { %>Yes<% } else { %>No<% } %></span>
        </li>
      </ul>
    </div>

    <div class="content-box">
      <h3>Age/Child Requirements</h3>

      <ul>
        <% if (section.exists('child_acceptance_criteria')) { %>
        <li>
          <span>Acceptance criteria:</span> <span><%=section.get('child_acceptance_criteria') %></span>
        </li>
        <% } %>
        <li>
          <span>Potty trained:</span> <span><% if (section.get('potty_trained')) { %>Yes<% } else { %>No<% } %></span>
        </li>
        <% if (section.exists('child_minimum_age_to_enroll')) { %>
        <li>
          <span>Child's minimum age to enroll:</span> <span><%=section.get('child_minimum_age_to_enroll') %></span>
        </li>
        <% } %>
      </ul>
    </div>

    <% if (section.exists('kindergartens_attended')) { %>
    <div class="content-box">
      <h3>Kindergartens Attended by <%= profile.get("name") %></h3>

      <p><%=section.get('kindergartens_attended') %></p>
    </div>
    <% } %>

</div>