<div id="general-wrapper" class="enrollment">
  <h1>Enrollment</h1>

  <div class="section-container">
    <% if (section.get("id") === Kin.app.currentUser.get("id")) { %>
    <p class="edit-section">
      <a class="btn" href="#day-care/edit/<%= section.get("name") %>/<%= section.get("id") %>">Edit this information</a>
    </p>
    <% } %>

    <% if (section.get('typical_day') && section.get('typical_day').length) { %>
    <h2>Typical Day</h2>

    <ul id="typical-day-list">
    <%
      _.each(section.get('typical_day'), function (day, index) {
        if (day) {
    %>
      <li>
          <span><%= day.start_time %></span> - <span><%= day.end_time %></span>: <span><%=day.description %></span>
      </li>
    <%
        }
      });
    %>
    </ul>
    <% } %>

    <% if (section.get('application_accepted').length || section.get('parent_visit_tours').length ||
          section.get('child_interview_process').length || section.get('parent_interview_process').length ||
          section.get('dateline_for_applications').length || section.get('application_fee').length
      ) { %>
    <div class="content-box">
      <h3>Application process</h3>

      <ul>
        <% if (section.get('application_accepted').length) { %>
        <li>
          <span>Application accepeted:</span> <span><%=section.get('application_accepted') %></span>
        </li>
        <% } %>
        <% if (section.get('parent_visit_tours').length) { %>
        <li>
          <span>Parent visit tours:</span> <span><%=section.get('parent_visit_tours') %></span>
        </li>
        <% } %>
        <% if (section.get('child_interview_process').length) { %>
        <li>
          <span>Child interview process:</span> <span><%=section.get('child_interview_process') %></span>
        </li>
        <% } %>
        <% if (section.get('parent_interview_process').length) { %>
        <li>
          <span>Parent interview process:</span> <span><%=section.get('parent_interview_process') %></span>
        </li>
        <% } %>
        <% if (section.get('dateline_for_applications').length) { %>
        <li>
          <span>Dateline for applications:</span> <span><%=section.get('dateline_for_applications') %></span>
        </li>
        <% } %>
        <% if (section.get('application_fee').length) { %>
        <li>
          <span>Application fee:</span> $<span><%=section.get('application_fee') %></span>
        </li>
        <% } %>
      </ul>
    </div>
    <% } %>

    <div class="content-box">
      <h3>Admission process</h3>

      <ul>
        <% if (section.get('admission_acceptance_criteria') && section.get('admission_acceptance_criteria').length) { %>
        <li>
          <span>Acceptance criteria:</span> <span><%=section.get('admission_acceptance_criteria') %></span>
        </li>
        <% } %>
        <% if (section.get('notification_occurs') && section.get('notification_occurs').length) { %>
        <li>
          <span>Notification occurs:</span> <span><%=section.get('notification_occurs') %></span>
        </li>
        <% } %>
        <% if (section.get('deposit_required') && section.get('deposit_required').length) { %>
        <li>
          <span>Deposit required:</span> <span><%=section.get('deposit_required') %></span>
        </li>
        <% } %>
        <li>
          <span>Financial aid:</span> <span><% if (section.get('financial_aid')) { %>Yes<% } else { %>No<% } %></span>
        </li>
      </ul>
    </div>

    <div class="content-box">
      <h3>Age/Child Requirements</h3>

      <ul>
        <% if (section.get('child_acceptance_criteria').length) { %>
        <li>
          <span>Acceptance criteria:</span> <span><%=section.get('child_acceptance_criteria') %></span>
        </li>
        <% } %>
        <li>
          <span>Potty trained:</span> <span><% if (section.get('potty_trained')) { %>Yes<% } else { %>No<% } %></span>
        </li>
        <% if (section.get('child_minimum_age_to_enroll').length) { %>
        <li>
          <span>Child's minimum age to enroll:</span> <span><%=section.get('child_minimum_age_to_enroll') %></span>
        </li>
        <% } %>
      </ul>
    </div>

    <% if (section.get('kindergartens_attended').length) { %>
    <div class="content-box">
      <h3>Kindergartens Attended by <%= profile.get("name") %></h3>

      <p><%=section.get('kindergartens_attended') %></p>
    </div>
    <% } %>

</div>