<div id="general-wrapper" class="environment">
  <h1>Environment</h1>

  <div class="section-container">
    <% if (section.get("id") === Kin.app.currentUser.get("id")) { %>
    <p class="edit-section">
      <a class="btn white" href="#day-care/edit/<%= section.get("name") %>/<%= section.get("id") %>">Edit this information</a>
    </p>
    <% } %>

    <% if (section.exists('indoors')) { %>
    <div class="content-box">
      <h3>Indoors</h3>
      <ul id="indoors-list">
      <%
        view.displayTagList('indoors');
      %>
      </ul>
    </div>
    <% } %>

    <% if (section.exists('outdoors')) { %>
    <div class="content-box">
      <h3>Outdoors</h3>
      <ul id="outdoors-list">
      <%
        view.displayTagList('outdoors');
      %>
      </ul>
    </div>
    <% } %>

    <% if (section.exists('for_infants')) { %>
    <div class="content-box">
      <h3>Environments for Infants</h3>
      <ul id="for_infants-list">
      <%
        view.displayTagList('for_infants');
      %>
      </ul>
    </div>
    <% } %>

    <% if (section.exists('health_and_safety_issues')) { %>
    <div class="content-box">
      <h3>Health and Safety Issues</h3>
      <ul id="health_and_safety_issues-list">
      <%
        view.displayTagList('health_and_safety_issues');
      %>
      </ul>
    </div>
    <% } %>

    <% if (section.exists('transportation_policies')) { %>
    <div class="content-box">
      <h3>Transportation policies</h3>
      <ul id="transportation_policies-list">
      <%
        view.displayTagList('transportation_policies');
      %>
      </ul>
    </div>
    <% } %>

  </div>
</div>