<h1>Environment</h1>

<div class="section-container">
  <% if (section.get("id") === Kin.app.currentUser.get("id")) { %>
  <p class="edit-section">
    <a href="#day-care/edit/<%= section.get("name") %>/<%= section.get("id") %>">Edit this information</a>
  </p>
  <% } %>

  <h3>Indoors</h3>
  <ul>  
  <%
      var indoors = section.get('indoors');
      _.each(view.getIndoors(), function (val, key) {
  %>
      <% if (_.include(indoors, parseInt(key))) { %><li><%= val %></li><% } %>
  <%
      });
  %>
  </ul>

  <h3>Outdoors</h3>
  <ul>  
  <%
      var outdoors = section.get('outdoors');
      _.each(view.getOutdoors(), function (val, key) {
  %>
      <% if (_.include(outdoors, parseInt(key))) { %><li><%= val %></li><% } %>
  <%
      });
  %>
  </ul>

  <h3>Environments for Infants</h3>
  <ul>  
  <%
      var forInfants = section.get('for_infants');
      _.each(view.getForInfants(), function (val, key) {
  %>
      <% if (_.include(forInfants, parseInt(key))) { %><li><%= val %></li><% } %>
  <%
      });
  %>
  </ul>

  <h3>Health and Safety Issues</h3>
  <ul>  
  <%
      var safetyIssues = section.get('health_and_safety_issues');
      _.each(view.getHealthAndSafetyIssues(), function (val, key) {
  %>
      <% if (_.include(safetyIssues, parseInt(key))) { %><li><%= val %></li><% } %>
  <%
      });
  %>
  </ul>

  <h3>Transportation policies</h3>
  <ul>  
  <%
      var transportation = section.get('transportation_policies');
      _.each(view.getTransportationPolicies(), function (val, key) {
  %>
      <% if (_.include(transportation, parseInt(key))) { %><li><%= val %></li><% } %>
  <%
      });
  %>
  </ul>
</div>