<%
  var index = 0;
  _.each(friendRequests.models, function (friendRequest) {
    index++;
    var friendRequestId = friendRequest.get("_id");
%>
<tr>
    <td><%= index %></td>
    <td><a href="#" data-id="<%= friendRequestId %>" title="Click to edit classes" class="parent-name"><%= friendRequest.get("name") %> <%= friendRequest.get("surname") %></a></td>
    <td><%= friendRequest.get("email") %></td>
    <td><%= new Date(friendRequest.get("created_at")).format("mmm d, yyyy HH:MM") %></td>
    <td><%= friendRequest.get("status") %></td>
</tr>
<tr id="class-cnt-<%= friendRequestId %>" class="hidden">
  <td> </td>
  <td colspan="4">
    <form class="friend-request-class-form" data-id="<%= friendRequestId %>">
      <fieldset>
        <div class="clearfix">
    	    <label>Classes</label>
      	  <div class="input">
      	    <select multiple="multiple" name="children_ids" class="chzn-select" data-placeholder="Add a child...">
  	        <%
  	            _.each(classes, function (daycareClass) {
  	        %>
  	          <optgroup label="<%= daycareClass.name %>">
  	            <%
  	              _.each(children, function (child) {
  	                if (child.get("user_id") === daycareClass._id) {
  	                  var isSelected = $.inArray(child.get("_id"), friendRequest.get("children_ids")) > -1 ? true : false;
  	            %>
  	              <option value="<%= child.get("_id") %>" <% if (isSelected) { %>selected="selected"<% } %>><%= child.get("name") %> <%= child.get("surname") %></option>
  	            <%
                    }
                  });
  	            %>
  	          </optgroup>
  	        <%
  	            });
  	        %>
  	        </select>
          </div>
        </div>
        <div class="actions">
          <input type="submit" id="send-invite-bt" class="btn primary" value="Save" />
  	    </div>
	    </fieldset>
    </form>
  </td>
</tr>
<%
  });
%>