<div id="general-wrapper" class="general-information">
  <h1>General information</h1>

  <div class="section-container">
    <% if (section.get("id") === Kin.app.currentUser.get("id")) { %>
    <p class="edit-section">
      <a class="btn white" href="#day-care/edit/<%= section.get("name") %>/<%= section.get("id") %>">Edit this information</a>
    </p>
    <% } %>

    <% if (section.exists('school_philosophy')) { %>
    <div class="content-box">
      <h3>School Philosophy</h3>
      <p><%=section.get('school_philosophy') %></p>
    </div>
    <% } %>

    <% if (section.exists('general_aproach_to_learning')) { %>
    <div class="content-box">
      <h3>General Aproach to Learning</h3>
      <ul id="general_aproach_to_learning-list">
      <%
        view.displayTagList('general_aproach_to_learning');
      %>
      </ul>
    </div>
    <% } %>

    <% if (section.get('licensed')) { %>
    <div class="content-box">
      <h3>This daycare is licensed</h3>
      <% if (section.get('license_number')) { %>
      <p>License number: <%=section.get('license_number') %></p>
      <% } %>
    </div>
    <% } %>

    <% if (section.exists('speaking_classes')) { %>
    <div class="content-box">
      <h3>Speaking classes</h3>
      <ul>
      <%
        var speakingClasses = section.get('speaking_classes');
        _.each(Kin.CONFIG.languages, function (val, key) {
      %>
        <% if (_.include(speakingClasses, parseInt(key))) { %><li><%= val %></li><% } %>
      <%
        });
      %>
      </ul>
    </div>
    <% } %>

    <% if (section.get('open_door_policy')) { %>
    <div class="content-box">
      <h3>This daycare has an open door policy.</h3>
    </div>
    <% } %>

    <% if (section.exists('learning_philosophy_and_tools_language') || section.exists('learning_philosophy_and_tools_cognitive_dev')) { %>
    <div class="content-box">
      <h3>Learning Philosophy &amp; Tools</h3>

      <% if (section.exists('learning_philosophy_and_tools_language')) { %>
      <h4>Language</h4>
      <ul id="learning_philosophy_and_tools_language-list">
      <%
        view.displayTagList('learning_philosophy_and_tools_language');
      %>
      </ul>
      <% } %>

      <% if (section.exists('learning_philosophy_and_tools_cognitive_dev')) { %>
      <h4>Cognitive development</h4>
      <ul id="learning_philosophy_and_tools_cognitive_dev-list">
      <%
        view.displayTagList('learning_philosophy_and_tools_cognitive_dev');
      %>
      </ul>
      <% } %>

    </div>
    <% } %>

    <% if (section.exists('home_school_connections')) { %>
    <div class="content-box">
      <h3>Home school connection</h3>
      <ul id="home_school_connections-list">
      <%
        view.displayTagList('home_school_connections');
      %>
      </ul>
    </div>
    <% } %>

    <% if (section.exists('home_school_separations')) { %>
    <div class="content-box">
      <h3>Separation is Handled through</h3>
      <ul id="home_school_separations-list">
      <%
        view.displayTagList('home_school_separations');
      %>
      </ul>
    </div>
    <% } %>

    <% if (section.exists('certificates')) { %>
    <div class="content-box">
      <h3>Certificates / Awards</h3>
      <ul id="certificates-list">
      <%
        view.displayTagList('certificates');
      %>
      </ul>
    </div>
    <% } %>

  </div>
</div>