<h1>Invite parents to join your network</h1>

<div id="send-invite-cnt">
  <form id="send-invite-form">
    <fieldset>
      <div class="clear">
        <label>Mother's name</label>
        <div class="input">
          <input type="text" name="mothers-name" value="" />
        </div>
      </div>
      <div class="clear">
        <label>Mother's surname</label>
        <div class="input">
          <input type="text" name="mothers-surname" value="" />
        </div>
      </div>
      <div class="clear">
        <label>Mother's E-mail</label>
        <div class="input">
          <input type="text" name="mothers-email" value="" />
        </div>
      </div>
      <div class="clear">
        <label>Father's name</label>
        <div class="input">
          <input type="text" name="fathers-name" value="" />
        </div>
      </div>
      <div class="clear">
        <label>Father's surname</label>
        <div class="input">
          <input type="text" name="fathers-surname" value="" />
        </div>
      </div>
      <div class="clear">
        <label>Father's e-mail</label>
        <div class="input">
          <input type="text" name="fathers-email" value="" />
        </div>
      </div>
      <div class="clearfix">
	      <label>Children</label>
  			<div class="input">
        	<select multiple="multiple" name="children_ids" class="chzn-select" data-placeholder="Add a child...">
	        <%
	            _.each(classes, function (daycareClass) {
	        %>
	          <optgroup label="<%= daycareClass.name %>">
	            <%
	              _.each(children, function (child) {
	                if (child.get("user_id") === daycareClass._id) {
	            %>
	              <option value="<%= child.get("_id") %>"><%= child.get("name") %> <%= child.get("surname") %></option>
	            <%
                  }
                });
	            %>
	          </optgroup>
	        <%
	            });
	        %>
	        </select>
  			</div>
  			<p id="missing-someone-cnt">
  			 <a href="#" id="open-add-child-box-bt">Missing someone?</a>
  			</p>
	    </div>
      <div class="actions">
	        <input type="submit" id="send-invite-bt" class="btn primary" value="Send" />
	    </div>
    </fieldset>
  </form>
</div>

<h2>Sent invites</h2>

<table class="bordered-table zebra-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>E-mail</th>
      <th>Sent on</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody id="friend-requests-list">
  </tbody>
</table>