<h1>Invite parents to join your network</h1>

<div id="send-invite-cnt">
  <form id="send-invite-form">
    <fieldset>
      <div class="clear">
        <label>Parent email</label>
        <div class="input">
          <input type="text" name="email" value="" />
        </div>
      </div>
      <div class="clear">
        <label>Parent name</label>
        <div class="input">
          <input type="text" name="name" value="" />
        </div>
      </div>
      <div class="clear">
        <label>Parent surname</label>
        <div class="input">
          <input type="text" name="surname" value="" />
        </div>
      </div>
      <div class="actions">
	        <input type="submit" id="send-invite-bt" class="btn primary" value="Send" />
	    </div>
    </fieldset>
  </form>
</div>

<table class="bordered-table zebra-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>E-mail</th>
      <th>Sent on</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody id="friend-requests-list">
  </tbody>
</table>