<%
    _.each(picturesCollection.models, function (picture) {
%>
    <li>
        <a href="<%=picture.get('url') %>" title="<%=picture.get('description') %>" target="_blank" rel="prettyPhoto[album]">
            <img src="<%=picture.get('url') %>" alt="<%=picture.get('description') %>" width="170" />
        </a>
        <p class="picture-description"><%=picture.get('description') %></p>
        <p class="picture-buttons">
            <%
                if (picture.get('primary')) {
            %>
            Primary
            <%
                } else {
            %>
            <a href="#" title="Set as primary picture" data-pic-id="<%=picture.get('_id') %>" class="primary-pic-bt">Make primary</a>
            <%
                }
            %>
            &nbsp;<a href="#" title="Delete picture" data-pic-id="<%=picture.get('_id') %>" class="delete-pic-bt">Delete</a>
        </p>
    </li>
<%
    });
%>