<%
    _.each(picturesCollection.models, function (picture) {
%>
    <li>
        <%
            var thumbUrl    = picture.get('thumb_url') || picture.get('url');
            var description = picture.get('description') || 'Click here to add a description';
        %>
        <a href="<%=picture.get('big_url') %>" title="<%=picture.get('description') %>" target="_blank" rel="prettyPhoto[album]" class="photo-frame">
            <img src="<%=thumbUrl %>" alt="<%=picture.get('description') %>" width="160" height="130" />
        </a>
        <p class="picture-description dedit-input picture-text-edit" data-pic-cid="<%=picture.cid %>"><%=description %></p>
        <p class="picture-buttons">
            <%
                if (picture.get('primary')) {
            %>
            Primary
            <%
                } else {
            %>
            <a href="#" title="Set as primary picture" data-pic-cid="<%=picture.cid %>" class="primary-pic-bt">Make primary</a>
            <%
                }
            %>
            &nbsp;<a href="#" title="Delete picture" data-pic-cid="<%=picture.cid %>" class="delete-pic-bt">Delete</a>
        </p>
    </li>
<%
    });
%>