<h1><%=dayCare.get('name') %></h1>

<div id="profile-main-tabs">
    <ul id="profile-tab-menu">
        <li class="view-on-map"><a href="#profile-view-on-map-tab"><span>view on map</span></a></li>
        <li class="view-info"><a href="#profile-info-tab"><span>info</span></a></li>
    </ul>

    <div id="profile-info-tab">
        <ul id="profile-general-info">
            <li><span>Name:</span> <%=dayCare.get('name') %></li>
            <li><span>Speaking classes:</span>
            <%
                var speakingClasses = dayCare.get('speaking_classes');
                var speakingClassesOptions = {0: 'English', 1: 'Spanish', 2: 'Russian'};
                _.each(speakingClasses, function (val, key) {
                    print(speakingClassesOptions[parseInt(key)], ', ');
                });
            %>
            </li>
            <li><span>E-mail:</span> <%=dayCare.get('email') %></li>
            <li><span>Phone:</span> <%=dayCare.get('phone') %></li>
            <li><span>Contact person:</span> <%=dayCare.get('contact_person') %></li>
            <li><span>Licensed:</span> <% if (dayCare.get('licensed')) {print('Yes');} else {print('No');} %></li>
            <li><span>Type:</span>
            <%
                var type = dayCare.get('type');
                var typeOptions = {'daycare': 'Day Care', 'kindergarten': 'Kindergarten', 'afterschool': 'Afterschool'};
                _.each(typeOptions, function (val, key) {
                    if (key === type) {print(typeOptions[key], ', ');}
                });
            %>
            </li>
            <%
                var openedSince = new Date(dayCare.get('opened_since'));
                var openedSinceDay = openedSince.getDate();
                var openedSinceMonth = openedSince.getMonth() + 1;
                var openedSinceYear = openedSince.getFullYear();
            %>
            <li><span>Opened since:</span> <%=(openedSinceYear + '-' + openedSinceMonth + '-' + openedSinceDay) %></li>
            <li><span>Open door policy:</span> <% if (dayCare.get('open_door_policy')) {print('Yes');} else {print('No');} %></li>
            <li><span>Serving people with disabilities:</span> <% if (dayCare.get('serving_disabilities')) {print('Yes');} else {print('No');} %></li>
        </ul>
    </div>
    <div id="profile-view-on-map-tab">
        <div id="profile-address-maps"></div>
    </div>
</div>

<h2>Photo gallery - photos of the child care center</h2>

<div id="daycare-gallery-tabs">
    <ul id="daycare-gallery-tab-menu">
    <%
        var daycareSets = dayCare.getDaycareSets();
        console.log(daycareSets);
        var i = 0;
        _.each(daycareSets, function (daycare) {
            i++;
    %>
        <li><a href="#daycare-gallery-tab-<%=i %>"><%=daycare.name %></a></li>
    <%
        });
    %>
    </ul>
    <%
        var i = 0;
        _.each(daycareSets, function (daycareSet) {
            i++;
    %>
    <div id="daycare-gallery-tab-<%=i %>">
        <div class="doom-carousel">
            <div class="doom-carousel-cnt">
                <ul class="doom-carousel-list">
                    <%
                        _.each(daycareSet.pictures, function (picture) {
                    %>
                    <li><img src="<%=picture.url %>" alt="<%=picture.description %>" class="doom-carousel-pic" /></li>
                    <%
                        });
                    %>
                </ul>
            </div>
            <a href="#left" title="Left" class="doom-carousel-left-btn"><span>Prev</span></a>
            <span class="pic-counter pic-nr">1</span><span class="pic-nr-separator pic-nr">/</span><span class="pic-total pic-nr"><%=daycareSets.length %></span>
            <a href="#right" title="Right" class="doom-carousel-right-btn"><span>Next</span></a>
        </div>
        <p>
            <h4><%=daycareSet.name %></h4>
            <%=daycareSet.description %>
        </p>
    </div>
    <%
        });
    %>
</div>

<%
    var defaultSets = dayCare.getDefaultSets();
%>
