<ul id="profile-general-info" data-edit-url="#day-cares/edit/<%=dayCare.get('_id') %>" class="<%= (canEdit) ? "dedit" : "" %>">
    <% if (dayCare.get('address')) { %>
    <li><span>Address:</span> <span class="value"><%=dayCare.get('address') %></span></li>
    <% } %>
    <% if (dayCare.get('email')) { %>
    <li><span>E-mail:</span> <span class="value"><%=dayCare.get('email') %></span></li>
    <% } %>
    <% if (dayCare.get('phone')) { %>
    <li><span>Phone:</span> <span class="value"><%=dayCare.get('phone') %></span></li>
    <% } %>
    <% if (dayCare.get('fax')) { %>
    <li><span>Fax:</span> <span class="value"><%=dayCare.get('fax') %></span></li>
    <% } %>
    <% if (dayCare.get('contact_person')) { %>
    <li><span>Contact person:</span> <span class="value"><%=dayCare.get('contact_person') %></span></li>
    <% } %>
    <% if (dayCare.get('speaking_classes')) { %>
    <li><span>Speaking classes:</span> <span class="value"><%
        var speakingClasses = dayCare.get('speaking_classes');
        var speakingClassesOptions = {0: 'English', 1: 'Spanish', 2: 'Russian'};
        _.each(speakingClasses, function (val, key) {
            print(speakingClassesOptions[parseInt(key)], key === speakingClasses.length - 1 ? '' : ', ');
        });
    %></span>
    </li>
    <% } %>
    <% if (dayCare.get('licensed')) { %>
    <li><span>Licensed:</span> <span class="value"><% if (dayCare.get('licensed')) {print('Yes');} else {print('No');} %></span></li>
    <% } %>
    <% if (dayCare.get('type')) { %>
    <li><span>Type:</span> <span class="value"><%
        var type = dayCare.get('type');
        var typeOptions = {'daycare': 'Day Care', 'kindergarten': 'Kindergarten', 'afterschool': 'Afterschool'};
        _.each(typeOptions, function (val, key) {
            if (key === type) {print(typeOptions[key]);}
        });
    %></span>
    </li>
    <% } %>
    <%
        var openedSince = new Date(dayCare.get('opened_since'));
        var openedSinceDay = openedSince.getDate();
        var openedSinceMonth = openedSince.getMonth();
        var openedSinceYear = openedSince.getFullYear();
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    %>
    <% if (openedSince) { %>
    <li><span>Opened since:</span> <span class="value"><%=(months[openedSinceMonth] + ' ' + openedSinceDay + ', ' + openedSinceYear) %></span></li>
    <% } %>
    <% if (dayCare.get('open_door_policy')) { %>
    <li><span>Open door policy:</span> <span class="value"><% if (dayCare.get('open_door_policy')) {print('Yes');} else {print('No');} %></span></li>
    <% } %>
    <% if (dayCare.get('serving_disabilities')) { %>
    <li><span>Serving people with disabilities:</span> <span class="value"><% if (dayCare.get('serving_disabilities')) {print('Yes');} else {print('No');} %></span></li>
    <% } %>
</ul>