<p>
  <a href="#day-cares" title="Go back to search results" class="back-to-results-bt"><span>Back to results</span></a>
</p>

<h1 id="profile-title"><%=profile.get('name') %></h1>

<div id="profile-main-tabs">
    <ul id="profile-tab-menu">
        <li class="view-on-map"><a href="#profile-view-on-map-tab"><span>view on map</span></a></li>
        <li class="view-info"><a href="#profile-info-tab"><span>info</span></a></li>
    </ul>

    <div id="profile-info-tab">
    </div>
    <div id="profile-view-on-map-tab">
        <div id="profile-address-maps"></div>
    </div>
</div>

<%
  if (profile.get("_id") == Kin.app.currentUser.get("_id") || $.inArray(profile.get("_id"), Kin.app.currentUser.get("friends")) > -1) {
%>
<div id="add-comment-box">
  <form id="add-comment-form" method="post" action="/comment">
    <input name="to_id" type="hidden" value="<%= profile.get('_id') %>" />
    <input name="wall_id" type="hidden" value="<%= profile.get('_id') %>" />
    <input name="type" type="hidden" value="status" />
    <div>
      <textarea name="content" resize="none" placeholder="say something ..." rows="1" cols="40"></textarea>
      <input type="submit" value="Post it" class="btn primary" />
      <select id="status-privacy-select" name="privacy" class="mini">
        <option selected="selected" value="private">Private</option>
        <%
          if (profile.get("_id") == Kin.app.currentUser.get("_id")) {
        %>
        <option value="public">Public</option>
        <%
          }
        %>
      </select>
    </div>
  </form>
</div>
<%
  }
%>

<ul id="wall-comments-list">
</ul>

<p id="load-more-comments-cnt" class="hidden">
  <a href="#" id="load-more-comments-bt">Older posts</a>
</p>
