<h1><%=dayCare.get('name') %></h1>

<div id="profile-main-tabs">
    <ul id="profile-tab-menu">
        <li class="view-on-map"><a href="#profile-view-on-map-tab"><span>view on map</span></a></li>
        <li class="view-info"><a href="#profile-info-tab"><span>info</span></a></li>
    </ul>

    <div id="profile-info-tab">
    </div>
    <div id="profile-view-on-map-tab">
        <div id="profile-address-maps"></div>
    </div>
</div>

<h2>Photo gallery - photos of the child care center</h2>

<div id="daycare-gallery-tabs">
    <ul id="daycare-gallery-tab-menu">
    <%
        var daycareSets = dayCare.getDaycareSets();
        var i = 0;
        _.each(daycareSets, function (daycare) {
            i++;
    %>
        <li><a href="#daycare-gallery-tab-<%=i %>"><%=daycare.name %></a></li>
    <%
        });
    %>
    </ul>
    <%
        var i = 0;
        _.each(daycareSets, function (daycareSet) {
            i++;
    %>
    <div id="daycare-gallery-tab-<%=i %>">
        <div class="doom-carousel">
            <div class="doom-carousel-cnt">
                <ul class="doom-carousel-list">
                    <%
                        _.each(daycareSet.pictures, function (picture) {
                            var mediumPictureUrl = picture.medium_url || picture.url;
                    %>
                    <li>
                        <a href="<%=picture.big_url %>" title="<%=picture.description %>" rel="prettyPhoto[album-<%=daycareSet._id %>]" class="photo-frame">
                            <img src="<%=mediumPictureUrl %>" alt="<%=picture.description %>" class="doom-carousel-pic" width="420" height="290" />
                        </a>
                    </li>
                    <%
                        });
                    %>
                </ul>
            </div>
            <a href="#left" title="Left" class="doom-carousel-left-btn"><span>Prev</span></a>
            <span class="pic-counter pic-nr">1</span><span class="pic-nr-separator pic-nr">/</span><span class="pic-total pic-nr"><%=daycareSet.pictures.length %></span>
            <a href="#right" title="Right" class="doom-carousel-right-btn"><span>Next</span></a>
        </div>
    </div>
    <%
        });
    %>
</div>

<h2>Albums</h2>

<% if (canEdit) { %>

<p>
    <button id="show-new-pic-set-form-bt" class="btn primary">+ Add album</button>
</p>

<form id="create-new-pic-cnt" class="hidden">
	<fieldset>
    	<div class="clearfix">
	        <label for="new-pic-set-name">Name</label>
			<div class="input">
	        	<input type="text" name="new-pic-set-name" />
			</div>
	    </div>
	    <div class="clearfix">
	        <label for="new-pic-set-type">Type</label>
			<div class="input">
	        	<select name="new-pic-set-type">
		        <%
		            var typeOptions = {'daycare': 'Public', 'default': 'Private'};
		            _.each(typeOptions, function (val, key) {
		        %>
		            <option value="<%=key %>"><%=val %></option>
		        <%
		            });
		        %>
		        </select>
			</div>
	    </div>
	    <div class="actions">
	        <input id="create-new-pic-set-bt" class="btn primary" type="submit" value="Create picture set" />
	        <input id="cancel-new-pic-set-bt" class="btn" type="button" value="Cancel" />
	    </div>
	</fieldset>
</form>

<% } %>

<ul id="picture-sets-list">
<%
    var allPictureSets = dayCare.pictureSets.models;
    _.each(allPictureSets, function (pictureSet) {
        var primaryPicture = pictureSet.pictures.getPrimary();
        var primaryPictureUrl = primaryPicture ? primaryPicture.get('url') : '/';
        var primaryPictureThumbUrl = primaryPicture ? (primaryPicture.get('thumb_url') || primaryPicture.get('url')) : Kin.CONFIG.noPicture;
%>
    <li>
        <h3>
            <a href="#day-cares/view/picture-set/<%=pictureSet.get('_id') %>" title="View picture set <%=pictureSet.get('name') %>">
              <%=pictureSet.get('name') %> (<%=pictureSet.get('pictures').length %>)
            </a>
        </h3>
        <a href="#day-cares/view/picture-set/<%=pictureSet.get('_id') %>" title="View picture set <%=pictureSet.get('name') %>" class="photo-frame">
            <img src="<%=primaryPictureThumbUrl %>" alt="<%=pictureSet.get('name') %>" width="160" height="130" />
        </a>
        <%
            if (canEdit && pictureSet.get('type') !== 'profile') {
        %>
        <p>
            <a href="#" title="Delete picture set" data-pic-set-id="<%=pictureSet.get('_id') %>" class="delete-pic-set-bt">Delete</a>
        </p>
        <%
            }
        %>
    </li>
<%
    });
%>
</ul>
