<%
  var avatar = profile.getProfilePicture();
  var miniAvatarUrl = avatar ? avatar.mini_url : Kin.CONFIG.noPicture;
  var lat = profile.get("location")[0];
  var lng = profile.get("location")[1];
%>
<p class="photo">
  <a href="#profiles/view/<%= profile.id %>">
    <img src="<%= miniAvatarUrl %>" width="50" height="50" />
  </a>
</p>
<div class="info">
  <p class="name">
    <a href="#profiles/view/<%=profile.id %>"><%=profile.get('name') %></a>
  </p>
  
  <% if (profile.get('address')) { %>
  <p class="location"><%=profile.get('address') %></p>
  <% } else { %>
  <p class="location">N/A</p>
  <% } %>
  
  <% if (profile.get('phone')) { %>
  <p class="phone"><%=profile.get('phone') %></p>
  <% } else { %>
  <p class="phone">N/A</p>
  <% } %>
  
  <% if (profile.get('fax')) { %>
  <p class="fax"><%=profile.get('fax') %></p>
  <% } else { %>
  <p class="fax">N/A</p>
  <% } %>
  
  <% if (profile.get('contact_person')) { %>
  <p class="contact-person">Contact person: <span><%=profile.get('contact_person') %><span></p>
  <% } else { %>
  <p class="contact-person">Contact person: <span>N/A</span></p>
  <% } %>
</div>