<ul id="messages-left-menu">
    <li id="write-menu-item" class="<%=(selectedMenuItem === 'write-menu-item' ? 'selected' : '') %>">
        <a href="#messages/write"><span>Write message</span></a>
    </li>
    <li id="inbox-menu-item" class="<%=(selectedMenuItem === 'inbox-menu-item' ? 'selected' : '') %>">
        <a href="#messages/inbox"><span>Inbox</span></a>
    </li>
    <li id="draft-menu-item" class="<%=(selectedMenuItem === 'draft-menu-item' ? 'selected' : '') %>">
        <a href="#messages/draft"><span>Draft</span></a>
    </li>
    <li id="sent-menu-item" class="<%=(selectedMenuItem === 'sent-menu-item' ? 'selected' : '') %>">
        <a href="#messages/sent"><span>Sent</span></a>
    </li>
    <li id="trash-menu-item" class="<%=(selectedMenuItem === 'trash-menu-item' ? 'selected' : '') %>">
        <a href="#messages/trash"><span>Trash</span></a>
    </li>
</ul>