!!! 5
html
  head
    title Kindzy.com
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendor/jquery.min.js')
  body
    header
      #header-wrapper
        ul#main-menu
          li
            a(href='#') Kindzy
          li
            a(href='#') Home
          li
            a(href='#') Profile
          li
            a(href='#') Account
        ul#events-menu
          li.messages
            a(href='#')
              span.hidden 0
          li.friend-request
            a(href='#')
              span.hidden 0
          li.notifications
            a(href='#')
              span.hidden 0
          li.ccn
            a(href='#')
              span.hidden 0
        a(href='/')
          img(src='/images/logo.png', alt='Kindzy.com', id='logo')
        #search-cnt
          ul#search-menu
            li.by-type
              a(href='#search-by-name')
                span by type
            li.by-name
              a(href='#search-by-type')
                span by name
          #search-bar
            button#search-bt
    #page-wrapper
      #side-column1
      #side-column2
      #main-column
        !{body}
    footer
      #footer-wrapper
        ul
          li
            a(href='#') About Us
          li
            a(href='#') Contact Us
          li
            a(href='#') Help
          li
            a(href='#') Submission Guidelines
          li
            a(href='#') Privacy Policy
          li
            a(href='#') Terms of Use
          li
            a(href='#') Partners
          li
            a(href='#') Widgets and Tools
        p#copyright Copyright &copy; 2011 Kindzy.com, Inc. All rights reserved.