!!! 5
html
  head
    title Kindzy.com
    != css('/stylesheets/normalize.css')
    != css('/stylesheets/bootstrap.css')
    != css('/stylesheets/style.css')
  body
    header
      #header-wrapper
        a(href='/')
          img(src='/images/logo.png', alt='Kindzy.com', id='logo')
    #page-wrapper
      #side-column1
      #side-column2
      #main-column
        #token-error-cnt.alert-message.block-message.error.hidden Sorry, but this token is not valid.
        !{body}
    footer
      #footer-wrapper
        ul
          li
            a(href='#') About Us
          li
            a(href='#') Contact Us
          li
            a(href='#') Help
          li
            a(href='#') Submission Guidelines
          li
            a(href='#') Privacy Policy
          li
            a(href='#') Terms of Use
          li
            a(href='#') Partners
          li
            a(href='#') Widgets and Tools
        p#copyright Copyright &copy; 2011 Kindzy.com, Inc. All rights reserved.

    != js('/javascripts/vendor/jquery.min')
    != js('/javascripts/auth')