!!! 5
// if IE 8
  <html class="ie8" lang="en">
head
  title Kindzy.com
  != css('/stylesheets/doom_windows_style.css')
  != css('/stylesheets/main.css')
  != css('/stylesheets/guest')
body
  #wrapper(class="features")
    .content-wrapper
      #main-column
        a#logo(href="/")
        !{body}
    .footer
      ul.f-menu
        li
          a(href='/about-us', title="About us") About Us
        li
          a(href='/contact-us', title="Contact us") Contact Us
        li
          a(href='http://kindzy.desk.com', title="Get help", target="_blank") Help
        li
          a(href='#') Submission Guidelines
        li
          a(href='/privacy', title="Our privacy policy") Privacy Policy
        li
          a(href='/terms', title="Our terms and conditions") Terms of Use
        li
          a(href='#') Partners
        li
          a(href='#') Widgets and Tools
      p.copy Copyright &copy; 2012 Kindzy.com, All rights reserved.

  != js('/javascripts/vendor/jquery.min')
  != js('/javascripts/vendor/jquery.validate')
  != js('/javascripts/vendor/jquery.doomWindows')
  != js('/javascripts/auth')