!!! 5
// if IE 8
  <html class="ie8" lang="en">
head
  title Kindzy.com
  != css('/stylesheets/main.css')
body
  #wrapper
    .content-wrapper
      #main-column
        !{body}
    .footer
      p.copy Copyright &copy; 2012 Kindzy.com, All rights reserved.
      ul.f-menu
        li
          a(href='#') About Us
        li
          a(href='#') Contact Us
        li
          a(href='#') Help
        li
          a(href='#') Submission Guidelines
        li
          a(href='#') Privacy Policy
        li
          a(href='#') Terms of Use
        li
          a(href='#') Partners
        li
          a(href='#') Widgets and Tools

  != js('/javascripts/vendor/jquery.min')
  != js('/javascripts/vendor/jquery.validate')
  != js('/javascripts/auth')