!!!
html
  head
    title= title

    != css('/stylesheets/normalize.css')
    != css('/stylesheets/bootstrap.css')
    != css('/stylesheets/style.css')
    != css('/stylesheets/jquery.autocomplete.css')
    != css('/stylesheets/doom_tabs_style.css')
    != css('/stylesheets/carousel.css')
    != css('/stylesheets/fileuploader.css')
    != css('/stylesheets/prettyPhoto.css')
    != css('/stylesheets/doomEdit.css')
    != css('/stylesheets/chosen.css')
    != css('/stylesheets/doom_windows_style.css')
    != css('/stylesheets/jquery.jgrowl.css')
    != css('/stylesheets/top_link.css')
    != css('/stylesheets/timePicker.css')

  body

    header
      #header-wrapper
        ul#main-menu.hidden
          li
            a(href='#') Kindzy
          li
            a(href='#') Home
          li#my-profile-bt
            a(href='#')
              img(src='/images/no_picture.png', alt='My profile', height='32', width='32', id="my-profile-thumb")
            ul.submenu.hidden
              li
                a(href="#profiles/view/:id", id="my-profile-view-url") My profile
              li
                a(href="#profiles/edit/:id", id="my-profile-edit-url") Edit profile
              li#my-daycares-list
          li#account-bt
            a(href='#', id="my-settings-bt")
              span Account
            ul.submenu.hidden
              li
                a(href="/logout") Logout
        ul#events-menu.hidden
          li.messages
            a(href='#messages/inbox')
              span#new-messages-total.indicator.hidden 0
            ul#last-messages.notification-list.hidden
          li.friend-request
            a(href='#')
              span#new-requests-total.indicator.hidden 0
            ul#last-requests.notification-list.hidden
          li.notifications
            a(href='#')
              span#new-followups-total.indicator.hidden 0
            ul#last-followups.notification-list.hidden
          li.ccn
            a(href='#')
              span#new-wall-posts-total.indicator.hidden 0
            ul#last-wall-posts.notification-list.hidden
        a(href='/')
          img(src='/images/logo.png', alt='Kindzy.com', id='logo')
        #search-cnt.hidden
          ul#search-menu.invisible
            li.by-type
              a(href='#search-by-name')
                span by type
            li.by-name
              a(href='#search-by-type')
                span by name
          #search-bar
            button#search-bt
    #page-wrapper
      #side-column1
      #side-column2
      #main-column
        !{body}
    footer
      #footer-wrapper
        ul
          li
            a(href='#') About Us
          li
            a(href='#') Contact Us
          li
            a(href='#') Help
          li
            a(href='#') Submission Guidelines
          li
            a(href='#') Privacy Policy
          li
            a(href='#') Terms of Use
          li
            a(href='#') Partners
          li
            a(href='#') Widgets and Tools
        p#copyright Copyright &copy; 2011 Kindzy.com, Inc. All rights reserved.

    #top-link(href="#top") Top of Page

    script(src='http://maps.googleapis.com/maps/api/js?sensor=false')
    script(src='/socket.io/socket.io.js')
    != js('/javascripts/vendor/date.format.js')
    != js('/javascripts/vendor/jquery.min.js')
    != js('/javascripts/vendor/jquery.doomTweaks.js')
    != js('/javascripts/vendor/underscore-min.js')
    != js('/javascripts/vendor/underscore.string.js')
    != js('/javascripts/vendor/backbone-min.js')
    != js('/javascripts/vendor/jquery.tmpload-3.0.js')
    != js('/javascripts/vendor/jquery.autocomplete.js')
    != js('/javascripts/vendor/jquery.hashForm.js')
    != js('/javascripts/vendor/jquery.doomTabs.js')
    != js('/javascripts/vendor/jquery.doomCarousel.js')
    != js('/javascripts/vendor/fileuploader.js')
    != js('/javascripts/vendor/jquery.prettyPhoto.js')
    != js('/javascripts/vendor/jquery.doomEdit.js')
    != js('/javascripts/vendor/chosen.jquery.min.js')
    != js('/javascripts/vendor/jquery.autoresize.js')
    != js('/javascripts/vendor/jquery.timeago.js')
    != js('/javascripts/vendor/jquery.doomWindows.js')
    != js('/javascripts/vendor/jquery.jgrowl.js')
    != js('/javascripts/vendor/jquery.topLink.js')
    != js('/javascripts/vendor/jquery.expander.min.js')
    != js('/javascripts/vendor/jquery.timePicker.min.js')
    != js('/javascripts/app/bootstrap.js')
    != js('/javascripts/app/helpers/text.js')
    != js('/javascripts/app/models/user.js')
    != js('/javascripts/app/models/profile.js')
    != js('/javascripts/app/models/picture_set.js')
    != js('/javascripts/app/models/picture.js')
    != js('/javascripts/app/models/comment.js')
    != js('/javascripts/app/models/message.js')
    != js('/javascripts/app/models/friend_request.js')
    != js('/javascripts/app/models/child.js')
    != js('/javascripts/app/models/parent.js')
    != js('/javascripts/app/models/staff.js')
    != js('/javascripts/app/models/class.js')
    != js('/javascripts/app/models/section.js')
    != js('/javascripts/app/models/tag.js')
    != js('/javascripts/app/models/notification.js')
    != js('/javascripts/app/collections/picture_sets.js')
    != js('/javascripts/app/collections/pictures.js')
    != js('/javascripts/app/collections/profile.js')
    != js('/javascripts/app/collections/comments.js')
    != js('/javascripts/app/collections/followups.js')
    != js('/javascripts/app/collections/wall_comments.js')
    != js('/javascripts/app/collections/messages.js')
    != js('/javascripts/app/collections/users.js')
    != js('/javascripts/app/collections/friend_requests.js')
    != js('/javascripts/app/collections/children.js')
    != js('/javascripts/app/collections/parents.js')
    != js('/javascripts/app/collections/classes.js')
    != js('/javascripts/app/collections/staff.js')
    != js('/javascripts/app/collections/tags.js')
    != js('/javascripts/app/collections/notifications.js')
    != js('/javascripts/app/views/app.js')
    != js('/javascripts/app/views/window.js')
    != js('/javascripts/app/views/header/header.js')
    != js('/javascripts/app/views/header/search.js')
    != js('/javascripts/app/views/header/submenu.js')
    != js('/javascripts/app/views/header/notification_board.js')
    != js('/javascripts/app/views/header/notification.js')
    != js('/javascripts/app/views/header/profile_info.js')
    != js('/javascripts/app/views/profile/profile.js')
    != js('/javascripts/app/views/profile/profile_gallery.js')
    != js('/javascripts/app/views/profile/profile_general_info.js')
    != js('/javascripts/app/views/profile/profile_wall.js')
    != js('/javascripts/app/views/profile/our_family.js')
    != js('/javascripts/app/views/profile/our_family_list.js')
    != js('/javascripts/app/views/profile/wall_comment.js')
    != js('/javascripts/app/views/profile/list_item.js')
    != js('/javascripts/app/views/profile/list.js')
    != js('/javascripts/app/views/profile/profile_side1.js')
    != js('/javascripts/app/views/profile/profile_edit.js')
    != js('/javascripts/app/views/profile/profile_edit_side1.js')
    != js('/javascripts/app/views/profile/picture_set.js')
    != js('/javascripts/app/views/profile/picture_set_side1.js')
    != js('/javascripts/app/views/profile/pictures_list.js')
    != js('/javascripts/app/views/profile/pictures_list.js')
    != js('/javascripts/app/views/profile/notifications.js')
    != js('/javascripts/app/views/day_care/add_class.js')
    != js('/javascripts/app/views/day_care/add_class_side1.js')
    != js('/javascripts/app/views/day_care/section.js')
    != js('/javascripts/app/views/day_care/edit_section.js')
    != js('/javascripts/app/views/class/manage_children.js')
    != js('/javascripts/app/views/class/manage_children_side1.js')
    != js('/javascripts/app/views/class/children_list.js')
    != js('/javascripts/app/views/parent/friend_requests_list.js')
    != js('/javascripts/app/views/parent/invites.js')
    != js('/javascripts/app/views/parent/invites_side1.js')
    != js('/javascripts/app/views/parent/review_children.js')
    != js('/javascripts/app/views/staff/friend_requests_list.js')
    != js('/javascripts/app/views/staff/invites.js')
    != js('/javascripts/app/views/staff/invites_side1.js')
    != js('/javascripts/app/views/messages/list_item.js')
    != js('/javascripts/app/views/messages/inbox.js')
    != js('/javascripts/app/views/messages/inbox_side1.js')
    != js('/javascripts/app/views/messages/draft.js')
    != js('/javascripts/app/views/messages/draft_side1.js')
    != js('/javascripts/app/views/messages/sent.js')
    != js('/javascripts/app/views/messages/sent_side1.js')
    != js('/javascripts/app/views/messages/trash.js')
    != js('/javascripts/app/views/messages/trash_side1.js')
    != js('/javascripts/app/views/messages/write.js')
    != js('/javascripts/app/views/comment/comment.js')
    != js('/javascripts/app/views/comment/comment_side1.js')
    != js('/javascripts/app/views/google_maps.js')
    != js('/javascripts/app/routers/main.js')
    != js('/javascripts/app/app.js')
