!!! 5
// if IE 8
  <html class="ie8" lang="en">
head
  title= title
  link(rel='apple-touch-icon-precomposed', href='/apple-touch-icon.png')
  include _styles

body
  #wrapper
    #header.header
      .header-content
        .logo
          a(href='/')
            img(src='/images/site/logo.png')
        #search-cnt.search
          ul
            li.by-name
              input(type="text", name="q", placeholder="Search by name")
            li.advanced
              a(href="#day-cares")
        .user_notifications
          ul#events-menu.hidden
            li.messages.mails
              a.icon(href='#messages/inbox')
                span#new-messages-total.indicator 0
              span.top-arrow
              ul#last-messages.notification-list.hidden
            li.friend-request.users
              a.icon(href='#requests')
                span#new-requests-total.indicator 0
              span.top-arrow
              ul#last-requests.notification-list.hidden
            li.notifications.replies
              a.icon(href='#alerts')
                span#new-followups-total.indicator 0
              span.top-arrow
              ul#last-followups.notification-list.hidden
            li.ccn.history
              a.icon(href='#feeds')
                span#new-wall-posts-total.indicator 0
              span.top-arrow
              ul#last-wall-posts.notification-list.hidden
        .user-menu
          ul#main-menu.hidden
            li#my-profile-bt.name-dropdown
              a(href='#')
                span#my-profile-name
              ul.submenu.hidden
                li.my-profile
                  a(href="#profiles/view/:id", id="my-profile-view-url") My profile
                li.edit-profile
                  a(href="#profiles/edit/:id", id="my-profile-edit-url") Edit profile
                li#my-daycares-list
            li#account-bt
              a(href='#', id="my-settings-bt")
            li.logout
              a(href="/logout")

    .content-wrapper
      #side-column1.kd-menu
      #main-column.kd-wall
        !{body}
      #profile-guide.hidden
      #side-column2.kd-info

    .footer
      ul.f-menu
        li
          a(href='/about-us', title="About us") About Us
        li
          a(href='/contact-us', title="Contact us") Contact Us
        li
          a(href='http://kindzy.desk.com', title="Get help", target="_blank") Help
        li
          a(href='/privacy', title="Our privacy policy") Privacy Policy
        li
          a(href='/terms', title="Our terms and conditions") Terms of Use
      p.copy Copyright &copy; 2012 Kindzy.com, Inc. All rights reserved.

  #top-link(href="#top") Top of Page

  script(src='http://maps.googleapis.com/maps/api/js?sensor=false')
  script(src='/socket.io/socket.io.js')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  //include _scripts
  != js('/javascripts/scripts')

  - if (global.process.env.NODE_ENV === "production")
    include _analytics

