<h1>Our family</h1>

<div id="profile-main-tabs">
    <ul id="profile-tab-menu">
        <li class="view-on-map"><a href="#profile-view-on-map-tab"><span>view on map</span></a></li>
        <li class="view-info"><a href="#profile-info-tab"><span>info</span></a></li>
    </ul>

    <div id="profile-info-tab">
    </div>
    <div id="profile-view-on-map-tab">
        <div id="profile-address-maps"></div>
    </div>
</div>

<div id="our-family-filter">
  <div>
    <input type="text" placeholder="Type in a name" id="our-family-name-filter" class="input-text">
    <input type="submit" value="Search" class="btn primary" id="our-family-name-filter-bt" />
  </div>
</div>

<div id="our-family-list-cnt">
</div>