<h2>Friends <span class="total">[<%= parents.length + staff.length %>]</span></h2>
<ul id="our-family-list-groups">
  <li>
    <%
      if (classes.length) {
        classes.each(function (daycareClass) {
    %>
    <h2><%= daycareClass.get("name") %></h2>
    <ul class="our-family-list">
      <%
        var classStaff = staff.filterByClassId(daycareClass.get("_id"));
        _.each(classStaff, function (st) {
          var avatar = st.getProfilePicture();
          var avatarUrl = avatar ? avatar.thumb_url : Kin.CONFIG.noPicture;
      %>
            <li class="our-family-member parents-details staff-details" id="member-<%= st.get("_id") %>">
              <p class="avatar">
                <a href="#profiles/view/<%= st.get("_id") %>">
                  <img src="<%= avatarUrl %>" width="60" height="60" />
                </a>
              </p>
              <p class="staff-name">
                <a href="#profiles/view/<%= st.get("_id") %>">
                  <%= st.get("gender") === "female" ? "Ms." : "Mr." %> <%= st.get("name") %> <%= st.get("surname") %>
                </a>
              </p>
              <p class="staff-position">
                Our staff
              </p>
            </li>
      <%
        });
      %>
      <%
        var classChildren = children.filterByClassId(daycareClass.get("_id"));
        _.each(classChildren, function (child) {
          var childrenParents = parents.filterByChildId(child.get("_id"));
          _.each(childrenParents, function (parent) {
              var avatar = parent.getProfilePicture();
              var avatarUrl = avatar ? avatar.thumb_url : Kin.CONFIG.noPicture;
      %>
            <li class="our-family-member parents-details" id="member-<%= parent.get("_id") %>">
              <p class="avatar">
                <a href="#profiles/view/<%= parent.get("_id") %>">
                  <img src="<%= avatarUrl %>" width="60" height="60" />
                </a>
              </p>
              <p class="parents-name">
                <a href="#profiles/view/<%= parent.get("_id") %>">
                  <%= parent.get("name") %> <%= parent.get("surname") %>
                </a>
              </p>
              <p class="childs-name">
                <%= parent.get("gender") === "female" ? "mother" : "father" %> of <%= child.get("name") %> <%= child.get("surname") %>
              </p>
            </li>
      <%
          });
        });
      %>
    </ul>
    <%
        });
      } else {
    %>
    <ul class="our-family-list">
      <%
        var classStaff = staff.filterByClassId(profile.get("_id"));
        _.each(classStaff, function (st) {
          var avatar = st.getProfilePicture();
          var avatarUrl = avatar ? avatar.thumb_url : Kin.CONFIG.noPicture;
      %>
            <li class="our-family-member parents-details staff-details" id="member-<%= st.get("_id") %>">
              <p class="avatar">
                <a href="#profiles/view/<%= st.get("_id") %>">
                  <img src="<%= avatarUrl %>" width="60" height="60" />
                </a>
              </p>
              <p class="staff-name">
                <a href="#profiles/view/<%= st.get("_id") %>">
                  <%= st.get("gender") === "female" ? "Ms." : "Mr." %> <%= st.get("name") %> <%= st.get("surname") %>
                </a>
              </p>
              <p class="staff-position">
                Our staff
              </p>
            </li>
      <%
        });
      %>
      <%
        var classChildren = children.filterByClassId(profile.get("_id"));
        _.each(classChildren, function (child) {
          var childrenParents = parents.filterByChildId(child.get("_id"));
          _.each(childrenParents, function (parent) {
            var avatar = parent.getProfilePicture();
            var avatarUrl = avatar ? avatar.thumb_url : Kin.CONFIG.noPicture;
      %>
            <li class="our-family-member parents-details" id="member-<%= parent.get("_id") %>">
              <p class="avatar">
                <a href="#profiles/view/<%= parent.get("_id") %>">
                  <img src="<%= avatarUrl %>" width="60" height="60" />
                </a>
              </p>
              <p class="parents-name">
                <a href="#profiles/view/<%= parent.get("_id") %>">
                  <%= parent.get("name") %> <%= parent.get("surname") %>
                </a>
              </p>
              <p class="childs-name">
                <%= parent.get("gender") === "female" ? "mother" : "father" %> of <%= child.get("name") %> <%= child.get("surname") %>
              </p>
            </li>
      <%
          });
        });
      %>
    </ul>
    <%
      }
    %>
  </li>
</ul>