<%
    _.each(picturesCollection.models, function (picture) {
%>
    <li>
        <%
            var thumbUrl    = picture.get('small_url') || picture.get('url');
            var description = picture.get('description') || (canEdit ? 'Add description' : '');
            var placeholder = 'Add description';
        %>
        <a href="<%=picture.get('big_url') %>" title="<%=picture.get('description') %>" target="_blank" rel="prettyPhoto[album]" class="photo-frame">
            <img src="<%=thumbUrl %>" alt="<%=picture.get('description') %>" width="110" title="<%=description %>" />
        </a>
        <p class="picture-description <%= (canEdit ? "dedit-input picture-text-edit" : "" ) %>" data-pic-cid="<%=picture.cid %>" data-placeholder="<%= placeholder %>" title="<%=description %>"><%=description %></p>
		<%
			if (canEdit) {
		%>
        <p class="picture-buttons">
            <%
                if (picture.get('primary')) {
            %>
            <span class="is-primary"></span>
            <%
                } else {
            %>
            <a href="#" title="Set as primary picture" data-pic-cid="<%=picture.cid %>" class="primary-pic-bt"></a>
            <%
                }
            %>
            &nbsp;<a href="#" title="Delete picture" data-pic-cid="<%=picture.cid %>" class="delete-pic-bt"></a>
        </p>
		<%
			}
		%>
    </li>
<%
    });
%>