.doom-carousel {
	width: 538px;
	height: 412px;
	overflow: hidden;
  text-align:center;
}

.doom-carousel a {
	outline: none;
}

.doom-carousel-cnt {
	overflow: hidden;
	width: 538px;
	height: 412px;
}

.doom-carousel-left-btn {
	display:inline-block;
	height:30px;
	position:relative;
	width:30px;
  top:-40px;
  margin:auto;
	background: #FFF url(/images/doom_carousel/left_arrow.png) center center no-repeat;
}

.doom-carousel-right-btn {
	display:inline-block;
	height:30px;
	position:relative;
	width:30px;
	top:-40px;
  margin:auto;
	background: #FFF url(/images/doom_carousel/right_arrow.png) center center no-repeat;
}

.doom-carousel-left-btn:hover, .doom-carousel-right-btn:hover {
}

.doom-carousel-left-btn span, .doom-carousel-right-btn span {
	display:none;
}

.doom-carousel-list {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.doom-carousel-list li {
	display: block;
	float: left;
  text-align: left;
	width: 538px;
	height: 412px;
	overflow: hidden;
}

.doom-carousel-pic {
	border:none;
	float: left;
	border-radius: 5px;
}

.doom-pic-title {
	float:left;
	height:50px;
	position:relative;
	top:-50px;
	width:500px;
	background: #111;
	opacity:0.8;
	color:red;
}

.doom-carousel .pic-nr {
  display: inline-block;
  position:relative;
  margin: auto;
  height: 30px;
  width: 15px;
  font-size: 12px;
  overflow: hidden;
  line-height: 30px;
  top:-51px;
  background:#FFF;
  font-weight: bold;
}

.ie8 .doom-carousel .pic-nr {
  top: -40px;
}