.dedit-input, .dedit-select {
  cursor:pointer;
}

.dedit-input:hover, .dedit-select:hover, #profile-general-info:hover {
	background:#EFE32D url(/images/doom_edit/edit.png) no-repeat center right;
	padding-right:20px;
  cursor:pointer;
}