/********************************************************************

Project: Formee - http://www.formee.org
Last Updated: 
Version: 3
Authors: Bernard De Luna - http://www.bernarddeluna.com
         Daniel Araujo - http://www.dnlaraujo.com.br
		 Marcello Manso - http://www.marcellomanso.com.br
			 
********************************************************************
Style
********************************************************************/

.form fieldset {
	background:#fff;
	/*corner*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* hover effect */
.grid-1-12:hover, .grid-2-12:hover, .grid-3-12:hover, .grid-4-12:hover, .grid-5-12:hover, .grid-6-12:hover, .grid-7-12:hover, .grid-8-12:hover, .grid-9-12:hover, .grid-10-12:hover, .grid-11-12:hover, .grid-12-12:hover {}
.field-button:hover {background:transparent;}


/* Form legend and titles */

.form {font: normal 10px/1.1em Arial,Sans-Serif;}
.form legend, .form h3 {
	font-size:3em;
	line-height:1.2em;
	letter-spacing: -.035em;
	color:#2b2b2b;
	font-weight: normal;
}

/* form elements  */
.form-lbl, .form label {
	color:#2b2b2b;
	font-size:1.4em;
	line-height: 1.3em;
	vertical-align:middle;
}
.form-req {
	font-weight: bold;
	font-style:normal;
	color:#d10000;
	font-size:1.2em;
}
.form .form-txt, .form input[type="text"], .form input[type="password"], .form input[type="file"], .form textarea, .form select {
	border-color:#c6c6c6 #dadada #eaeaea;
	background: #fafafa;
	color:#999;
	font-size:1.4em;
	font-family:inherit;
	/*corner*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.form select {
	border-color:#c6c6c6 #dadada #eaeaea;
	background: #fafafa;
	color:#999;
}
.form .form-txt:hover, .form input[type="text"]:hover, .form input[type="password"]:hover, .form input[type="file"]:hover, .form textarea:hover, .form select:hover {
	color:#666;
	background: #fff none;
	border-color:#c6c6c6;
}
form .form-txt:focus, .form input[type="text"]:focus, .form input[type="password"]:focus, .form input[type="file"]:focus, .form textarea:focus, .form select:focus  {
	color:#333;
	background: #fff none;
	border-color:#659ec9 #70aedd #a8cfec;
	outline: 0;
}


/* form msg status  */
.form-msg-info, .form-msg-warning, .form-msg-error, .form-msg-success {
	color:#2b2b2b;
	/*corner*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.form-msg-info h3, .form-msg-warning h3, .form-msg-error h3, .form-msg-success h3 {
	font-size:2em;
	line-height:1.1em;
	letter-spacing:-.02em;
	padding:0;
	margin:0 0 .3em 0;
}
.form-msg-info {
	background: #d1ecf7 url(/images/formee/form-ic-info.png) no-repeat 12px 23px;
	border-color:#bcdfef;
}
.form-msg-warning {
	background: #fff6bf url(/images/formee/form-ic-warning.png) no-repeat 12px 23px;
	border-color:#fceb77;
}
.form-msg-error {
	background: #fad0d0 url(/images/formee/form-ic-error.png) no-repeat 12px 23px;
	border-color:#f6abab;
}
.form-msg-success {
	background: #e5f8ce url(/images/formee/form-ic-success.png) no-repeat 12px 23px;
	border-color:#d0f1a6;
}

.form-msg-success strong, .form-msg-success a{color:#62b548;}
.form-msg-info strong, .form-msg-info a {color:#11689e;}
.form-msg-warning strong, .form-msg-warning a {color:#957210;}
.form-msg-error strong, .form-msg-error a {color:#b01717;}

/* form validation */
.form-error {
	border-color: #FAD0D0 !important;
	color: #b01717 !important;
  /* shadow */
  -moz-box-shadow: 0 0 3px 0 rgba(176,23,23,.4);
  -webkit-box-shadow: 0 0 3px 0 rgba(176,23,23,.4);
  box-shadow: 0 0 3px 0 rgba(176,23,23,.4);
}

/* form buttons */
.form-button, .form input[type="submit"], .form input[type="button"], .form input[type="reset"], .qq-upload-button {
  font-size:1.4em;
  line-height:1.4em;
  font-weight:bolder;
  text-transform: uppercase;
  letter-spacing: -.015em;
  color:#fff;
  border-color:#3a77a4;
  background:#5393c2;
  /* gradient */
  background: -moz-linear-gradient(top, #5393c2 40%, #3a77a4);
  background: -webkit-linear-gradient(top, #5393c2 40%, #3a77a4);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5393c2', endColorstr='#3a77a4');
  /* corner */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* shadow */
  -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
}
.form-button:hover, .form input[type="submit"]:hover, .form input[type="button"]:hover, .form input[type="reset"]:hover {
  background:#70aedd;
  /* gradient */
  background: -moz-linear-gradient(top, #70aedd 40%, #69a4d0);
  background: -webkit-linear-gradient(top, #70aedd 40%, #69a4d0);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#70aedd', endColorstr='#69a4d0');
  /* shadow */
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2), inset 0 1px 0 0 rgba(255,255,255,.4);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
  box-shadow:  0 1px 1px 0 rgba(0,0,0,.2), inset 0 1px 0 0 rgba(255,255,255,.4);
}

.form select[multiple="multiple"] {
    height: 75px;
}


