/********************************************************************

Project: Formee - http://www.formee.org
Launched: 
Version: 3
Authors: Bernard De Luna - http://www.bernarddeluna.com
         Daniel Araujo - http://www.dnlaraujo.com.br
		 Marcello Manso - http://www.marcellomanso.com.br

********************************************************************
Structure
********************************************************************/

/* Little CSS Reset to preserv form structure */

/* fix  ff bugs */
.form:after, .form div:after, .form ol:after, .form ul:after, .form li:after, .form dl:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	overflow:hidden;
}

/* Form Structure */

.form {margin:0;padding:0;}
.form fieldset {
	border: 1px solid #d4d4d4;
	position: relative;
	height:100%;
	padding: 1.2em 0;
	margin: 0 0 4em;
}
.form legend {
	margin-left:1%;
	margin-right:1%;
	padding: 0.5% 0.5% 0.8%;
}
.form h3 {
	margin:0;
	padding: 0.5% 0.5% 0.8%;
}

/* Field Grid */
.grid-1-12, .grid-2-12, .grid-3-12, .grid-4-12, .grid-5-12, .grid-6-12, .grid-7-12, .grid-8-12, .grid-9-12, .grid-10-12, .grid-11-12, .grid-12-12 {
	display:inline-block;
	position:relative;
	float:left;
	margin-left:1%;
	margin-right:1%;
	padding: 0.8% 0.5% 1%;
	height:100%;
/*ie7*/
*margin-left:.8%;
*margin-right:.8%;
*padding: 0.8% 0.25% 1%;
}

/* 12-column Grid (thanks for Fluid 960 Grid System) */
.grid-1-12 {width: 5.333%;}
.grid-2-12 {width: 13.666%;}
.grid-3-12 {width: 22%;}
.grid-4-12 {width: 30.333%;}
.grid-5-12 {width: 38.666%;}
.grid-6-12 {width: 47%;}
.grid-7-12 {width: 55.333%;}
.grid-8-12 {width: 63.666%;}
.grid-9-12 {width: 72%;}
.grid-10-12 {width: 80.333%;}
.grid-11-12 {width: 88.666%;}
.grid-12-12 {width: 97%;}


/* first item */ .form .alpha {margin-left:0;}
/* last item */ .form .omega {margin-right:0;}
/* clear */ .form .clear {clear:both;}
/* input without label */ .form-no-lbl {position:relative;padding-bottom:0;}
/* input without label */ .form-no-lbl input,  .form-no-lbl label,  .form-no-lbl span,  .form-no-lbl ul,  .form-no-lbl p {position:absolute;bottom:0;}

/* multiple containers inside field-grid */
.form .left {
	clear:none;
	float:left !important;
	margin-right:0.3em !important;
}
.form .right {
	clear:none;
	float:right !important;
	margin-left:0.3em !important;
}


/* form elements  */
.form-lbl, .form label {
	display: block;
	height: auto;
	margin: 0.2em 0 0.5em;
}
.form .form-txt, .form input[type="text"], .form input[type="password"], .form input[type="file"], .form textarea, .form select{
	vertical-align: middle;
	line-height: 1.1em;
	width: 100%;
	padding:10px;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
/*ie7*/
*width: 99%;
}
.form textarea {height: 10em;}
.form select {padding:9px;height:2.7em;}
.form-list .form-lbl, .form-list label {
	display: inline;
	height: auto;
	margin: 0.5em 0 0.8em 2px;
}
.form-req {
	position: relative;
	top:3px;
}

.form-msg-info, .form-msg-warning, .form-msg-error, .form-msg-success {
	padding:20px 20px 15px 38px;
	border: 1px solid #ccc;
	display: block;
	height: auto;
	margin: 0 1.5% 0.8em;
	clear:both;
}
.form-msg-info li, .form-msg-warning li, .form-msg-error li, .form-msg-success li {
	list-style: none;
	padding:0;	
	margin-bottom: .4%;
	font-size:1.4em;
	line-height:1.1em;
	vertical-align: top;
}


/* form button  */
.form-button, .form input[type="submit"], .form input[type="button"], .form input[type="reset"] {
  padding:8px 15px 9px;
  cursor: pointer;
  text-align: center;
  display:inline-block;
  border:1px solid #D4D4D4;
}

/* lista de chk e rdo */
.form-list {
	height: 100%;
	list-style: none;
	padding:0;
	margin:0;
}
.form-list li, .form-list li {
	margin: 0.5em 0.6em 0.8em;
	float:left;
	display: inline-block;
	list-style:none;
}
.form-list input {margin-right: 0.2em}

/* input size */
.form-small {
	width: 30% !important;
	float:left;
	margin-right: 10px;
	display:inline;
/*ie7*/
*width: 25% !important;
}

.form-medium {
	width: 50% !important;
	float:left;
	margin-right: 10px;
	display:inline;
/*ie7*/
*width: 45% !important;
}