body
  background: #f3f3f3

a
  color: #5caae3
a:hover
  color: #FFF

#wrapper
  background: url("/images/index/blackboard_bg.png") no-repeat top center
  .content-wrapper
    background: transparent
    #logo
      display: block
      background: url("/images/index/logo.png") no-repeat top center
      width: 168px
      height: 47px
    #call-to-action
      float: left
      width: 530px
      color: #FFF
      #tagline
        font-size: 20px
        margin: 20px 0 0 0
      #parent-educators
        font-size: 72px
        margin: 0 0 20px 0
        line-height: 72px
        font-weight: bold
      #action-buttons
        background: url("/images/index/request_tour_bt.png") no-repeat top center
        width: 357px
        height: 53px
        .request-invite-cnt
          color: #FFF
          font-size: 19px
          display: inline-block
          padding: 10px 30px 10px 30px
        .take-the-tour-cnt
          color: #000
          font-size: 19px
          display: inline-block
          padding: 10px 30px 10px 30px
      #registered-memebers-text
        width: 350px
        font-size: 15px
        text-align: center
        margin: 15px 0 15px 0
      #arrow-left
        float: right
        width: 170px
        height: 123px
        background: url("/images/index/arrow_left.png") no-repeat top left
        margin: -130px 0 0 0
    #site-preview
      background: url("/images/index/site_preview.png") no-repeat top center
      width: 450px
      height: 593px
      float: right
      margin: -47px 0 0 0
    #testimonials-cnt
      float: left
      overflow: hidden
      margin: 25px 0 0 0
      .testimonial
        background: url("/images/index/testimonial_bg.png") no-repeat top center
        width: 510px
        height: 140px
        blockquote
          font-size: 17px
          font-style: italic
          height: 100px
          padding: 5px 15px 30px 15px
          overflow: hidden
        .author
          float: right
          margin: 0 10px 0 0
          font-weight: bold
          font-size: 13px
      #testimonials-scroller
        li
          margin: 0 5px 0 0
          display: inline-block
          a
            display: inline-block
            background: url("/images/index/testimonial_bt.png") no-repeat top left
            width: 15px
            height: 15px
        li.selected
          a
            background: url("/images/index/testimonial_bt_selected.png") no-repeat top left
    #feature-boxes
      float: left
      clear: both
      margin: 15px 0 20px 0
      li
        width: 320px
        float: left
        margin: 0 10px 0 0
        padding: 150px 0 0 0
        text-align: center
        height: 160px
        h2
          margin: 0 0 25px 0
        p
          font-size: 14px
          padding: 0 10px 0 10px
      li#communicate-box
        background: #FFF url("/images/index/communicate_symbol.png") no-repeat center 30px
      li#be-present-online-box
        background: #FFF url("/images/index/be_present_symbol.png") no-repeat center 30px
      li#create-communities-box
        margin: 0
        background: #FFF url("/images/index/create_symbol.png") no-repeat center 30px
  .footer
    .f-menu
      float: none
      width: 100%
      text-align: center
      margin: 0 0 15px 0
      li
        display: inline-block
        float: none
        a
          font-weight: bold
    .copy
      float: none
      width: 100%
      text-align: center

#invite-window
  .doom-win-content
    padding: 20px
    form
      background: #F4F4F4
      padding: 10px
      margin: 10px
      textarea
        width: 300px
        height: 100px
#log-in-window
  .doom-win-content
    padding: 20px
    form
      background: #F4F4F4
      padding: 10px
      margin: 10px

#wrapper.features, #wrapper.about-us, #wrapper.privacy, #wrapper.terms
  background: url("/images/features/blackboard_bg.png") no-repeat top center
  .content-wrapper
    background: transparent
    #logo
      display: block
      background: url("/images/index/logo.png") no-repeat top center
      width: 168px
      height: 47px
    #explore
      font-size: 72px
      margin: 0 0 20px 0
      line-height: 72px
      font-weight: bold
      color: #FFF
      width: 80%
    #great-features
      font-size: 20px
      margin: 20px 0 80px 0
      color: #FFF
      width: 80%
    #action-box
      float: right
      color: #FFF
      #request-invite-link
        display: inline-block
        width: 182px
        height: 53px
        font-size: 19px
        padding: 12px 0 0 60px
        color: #FFF
        background: url("/images/features/request_invite_bt.png") no-repeat top center
      #registered-memebers-text
        font-size: 13px
        text-align: right
        margin: 0 22px 0 0
    #with-kindzy-explained
      width: 100%
      font-size: 18px
      text-align: center
    #testimonials-cnt
      overflow: hidden
      margin: 25px 0 0 0
      float: none
      .testimonial
        background: url("/images/features/testimonial_bg.png") no-repeat top center
        width: 100%
        height: 79px
        blockquote
          font-size: 17px
          font-style: italic
          height: 35px
          padding: 17px 15px 30px 35px
          overflow: hidden
        .author
          float: right
          margin: 0 30px 0 0
          font-weight: bold
          font-size: 13px
    ul#features-menu
      float: left
      width: 240px
      margin: 50px 0 0 30px
      li
        border-bottom: solid 1px #CCC
        height: 50px
        font-size: 13px
        line-height: 50px
        a
          display: inline-block
          padding: 0 0 0 15px
          margin: 0 0 0 5px
          color: #000
          font-size: 13px
          width: 100%
      li.selected
        a
          background: url("/images/features/menu_bg.png") no-repeat center left
          color: #FFF
    .feature-box
      float: right
      width: 640px
      margin: 40px 0 0 0
      h3
        width: 420px
        font-size: 36px
        margin: 30px 0 30px 0
      p
        width: 420px
        font-size: 16px
    .feature-box.odd
      text-align: left
      img
        float: right
      h3
        float: left
      p
        float: left
    .feature-box.even
      text-align: right
      img
        float: left
      h3
        float: right
      p
        float: right




