body {
  background: #f3f3f3 url("/images/index/bg_body.png") repeat-x top center;
}
body.features {
  background: #f3f3f3 url("/images/features/bg_body.png") repeat-x top center;
}
a {
  color: #5caae3;
}
a:hover {
  color: #fff;
}
#wrapper {
  background: url("/images/index/blackboard_bg.jpg") no-repeat top center;
}
#wrapper .content-wrapper {
  background: transparent;
}
#wrapper .content-wrapper #logo {
  display: block;
  background: url("/images/index/logo.png") no-repeat top center;
  width: 168px;
  height: 47px;
}
#wrapper .content-wrapper #call-to-action {
  float: left;
  width: 530px;
  color: #fff;
}
#wrapper .content-wrapper #call-to-action #tagline {
  font-size: 20px;
  margin: 20px 0 0 0;
}
#wrapper .content-wrapper #call-to-action #parent-educators {
  font-size: 72px;
  margin: 0 0 20px 0;
  line-height: 72px;
  font-weight: bold;
}
#wrapper .content-wrapper #call-to-action #action-buttons {
  background: url("/images/index/request_tour_bt.png") no-repeat top center;
  width: 357px;
  height: 53px;
  line-height: 32px;
}
#wrapper .content-wrapper #call-to-action #action-buttons .request-invite-cnt {
  color: #fff;
  font-size: 18px;
  display: inline-block;
  padding: 10px 30px 10px 34px;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.40);
}
#wrapper .content-wrapper #call-to-action #action-buttons .take-the-tour-cnt {
  color: #000;
  font-size: 18px;
  display: inline-block;
  padding: 10px 30px 10px 34px;
  text-shadow: 0 1px 1px #fff;
}
#wrapper .content-wrapper #call-to-action #registered-memebers-text {
  width: 350px;
  font-size: 13px;
  text-align: center;
  margin: 15px 0 15px 0;
}
#wrapper .content-wrapper #call-to-action #arrow-left {
  float: right;
  width: 170px;
  height: 123px;
  background: url("/images/index/arrow_left.png") no-repeat top left;
  margin: -130px 0 0 0;
}
#wrapper .content-wrapper #site-preview {
  background: url("/images/index/site_preview.png") no-repeat top center;
  width: 450px;
  height: 593px;
  float: right;
  margin: -47px 0 0 0;
}
#wrapper .content-wrapper #testimonials-cnt {
  float: left;
  overflow: hidden;
  margin: 25px 0 0 0;
}
#wrapper .content-wrapper #testimonials-cnt .testimonial {
  background: url("/images/index/testimonial_bg.png") no-repeat top center;
  width: 510px;
  height: 140px;
}
#wrapper .content-wrapper #testimonials-cnt .testimonial blockquote {
  font-family: Georgia, Verdana, serif;
  font-size: 16px;
  font-style: italic;
  height: 100px;
  padding: 20px;
  overflow: hidden;
  text-align: center;
}
#wrapper .content-wrapper #testimonials-cnt .testimonial .author {
  float: right;
  margin: 0 10px 0 0;
  font-weight: bold;
  font-size: 14px;
}
#wrapper .content-wrapper #testimonials-cnt #testimonials-scroller li {
  margin: 0 5px 0 0;
  display: inline-block;
}
#wrapper .content-wrapper #testimonials-cnt #testimonials-scroller li a {
  display: inline-block;
  background: url("/images/index/testimonial_bt.png") no-repeat top left;
  width: 15px;
  height: 15px;
}
#wrapper .content-wrapper #testimonials-cnt #testimonials-scroller li.selected a {
  background: url("/images/index/testimonial_bt_selected.png") no-repeat top left;
}
#wrapper .content-wrapper #feature-boxes {
  float: left;
  clear: both;
  margin: 15px 0 20px 0;
}
#wrapper .content-wrapper #feature-boxes li {
  width: 320px;
  float: left;
  margin: 0 10px 0 0;
  padding: 150px 0 0 0;
  text-align: center;
  height: 160px;
}
#wrapper .content-wrapper #feature-boxes li h2 {
  margin: 0 0 25px 0;
}
#wrapper .content-wrapper #feature-boxes li p {
  font-size: 14px;
  padding: 0 10px 0 10px;
}
#wrapper .content-wrapper #feature-boxes li#communicate-box {
  background: #fff url("/images/index/communicate_symbol.png") no-repeat center 30px;
}
#wrapper .content-wrapper #feature-boxes li#be-present-online-box {
  background: #fff url("/images/index/be_present_symbol.png") no-repeat center 30px;
}
#wrapper .content-wrapper #feature-boxes li#create-communities-box {
  margin: 0;
  background: #fff url("/images/index/create_symbol.png") no-repeat center 30px;
}
#wrapper .footer {
  margin-top: 80px;
  font-size: 13px;
}
#wrapper .footer .f-menu {
  float: none;
  width: 100%;
  text-align: center;
  margin: 0 0 15px 0;
}
#wrapper .footer .f-menu li {
  display: inline-block;
  float: none;
}
#wrapper .footer .f-menu li a {
  font-weight: bold;
}
#wrapper .footer .copy {
  float: none;
  width: 100%;
  text-align: center;
}
#invite-window .doom-win-content {
  padding: 20px;
}
#invite-window .doom-win-content form {
  background: #f4f4f4;
  padding: 10px;
  margin: 10px;
}
#invite-window .doom-win-content form textarea {
  width: 300px;
  height: 100px;
}
#log-in-window .doom-win-content {
  padding: 20px;
}
#log-in-window .doom-win-content form {
  background: #f4f4f4;
  padding: 10px;
  margin: 10px;
}
#wrapper.features,
#wrapper.about-us,
#wrapper.privacy,
#wrapper.terms {
  background: url("/images/features/blackboard_bg.jpg") no-repeat top center;
}
#wrapper.features .content-wrapper,
#wrapper.about-us .content-wrapper,
#wrapper.privacy .content-wrapper,
#wrapper.terms .content-wrapper {
  background: transparent;
}
#wrapper.features .content-wrapper #logo,
#wrapper.about-us .content-wrapper #logo,
#wrapper.privacy .content-wrapper #logo,
#wrapper.terms .content-wrapper #logo {
  display: block;
  background: url("/images/index/logo.png") no-repeat top center;
  width: 168px;
  height: 47px;
}
#wrapper.features .content-wrapper #explore,
#wrapper.about-us .content-wrapper #explore,
#wrapper.privacy .content-wrapper #explore,
#wrapper.terms .content-wrapper #explore {
  font-size: 72px;
  margin: 0 0 20px 0;
  line-height: 72px;
  font-weight: bold;
  color: #fff;
  width: 80%;
}
#wrapper.features .content-wrapper #great-features,
#wrapper.about-us .content-wrapper #great-features,
#wrapper.privacy .content-wrapper #great-features,
#wrapper.terms .content-wrapper #great-features {
  font-size: 20px;
  margin: 20px 0 80px 0;
  color: #fff;
  width: 80%;
}
#wrapper.features .content-wrapper #action-box,
#wrapper.about-us .content-wrapper #action-box,
#wrapper.privacy .content-wrapper #action-box,
#wrapper.terms .content-wrapper #action-box {
  float: right;
  color: #fff;
}
#wrapper.features .content-wrapper #action-box #request-invite-link,
#wrapper.about-us .content-wrapper #action-box #request-invite-link,
#wrapper.privacy .content-wrapper #action-box #request-invite-link,
#wrapper.terms .content-wrapper #action-box #request-invite-link {
  display: inline-block;
  width: 182px;
  height: 53px;
  font-size: 19px;
  padding: 12px 0 0 60px;
  color: #fff;
  background: url("/images/features/request_invite_bt.png") no-repeat top center;
}
#wrapper.features .content-wrapper #action-box #registered-memebers-text,
#wrapper.about-us .content-wrapper #action-box #registered-memebers-text,
#wrapper.privacy .content-wrapper #action-box #registered-memebers-text,
#wrapper.terms .content-wrapper #action-box #registered-memebers-text {
  font-size: 13px;
  text-align: right;
  margin: 0 22px 0 0;
}
#wrapper.features .content-wrapper #with-kindzy-explained,
#wrapper.about-us .content-wrapper #with-kindzy-explained,
#wrapper.privacy .content-wrapper #with-kindzy-explained,
#wrapper.terms .content-wrapper #with-kindzy-explained {
  width: 100%;
  font-size: 18px;
  text-align: center;
}
#wrapper.features .content-wrapper #testimonials-cnt,
#wrapper.about-us .content-wrapper #testimonials-cnt,
#wrapper.privacy .content-wrapper #testimonials-cnt,
#wrapper.terms .content-wrapper #testimonials-cnt {
  overflow: hidden;
  margin: 25px 0 0 0;
  float: none;
}
#wrapper.features .content-wrapper #testimonials-cnt .testimonial,
#wrapper.about-us .content-wrapper #testimonials-cnt .testimonial,
#wrapper.privacy .content-wrapper #testimonials-cnt .testimonial,
#wrapper.terms .content-wrapper #testimonials-cnt .testimonial {
  background: url("/images/features/testimonial_bg.png") no-repeat top center;
  width: 100%;
  height: 79px;
}
#wrapper.features .content-wrapper #testimonials-cnt .testimonial blockquote,
#wrapper.about-us .content-wrapper #testimonials-cnt .testimonial blockquote,
#wrapper.privacy .content-wrapper #testimonials-cnt .testimonial blockquote,
#wrapper.terms .content-wrapper #testimonials-cnt .testimonial blockquote {
  font-size: 17px;
  font-style: italic;
  height: 35px;
  padding: 17px 15px 30px 35px;
  overflow: hidden;
  text-align: center;
}
#wrapper.features .content-wrapper #testimonials-cnt .testimonial .author,
#wrapper.about-us .content-wrapper #testimonials-cnt .testimonial .author,
#wrapper.privacy .content-wrapper #testimonials-cnt .testimonial .author,
#wrapper.terms .content-wrapper #testimonials-cnt .testimonial .author {
  float: right;
  margin: 0 30px 0 0;
  font-weight: bold;
  font-size: 13px;
}
#wrapper.features .content-wrapper ul#features-menu,
#wrapper.about-us .content-wrapper ul#features-menu,
#wrapper.privacy .content-wrapper ul#features-menu,
#wrapper.terms .content-wrapper ul#features-menu {
  float: left;
  width: 240px;
  margin: 50px 0 0 30px;
}
#wrapper.features .content-wrapper ul#features-menu li,
#wrapper.about-us .content-wrapper ul#features-menu li,
#wrapper.privacy .content-wrapper ul#features-menu li,
#wrapper.terms .content-wrapper ul#features-menu li {
  border-bottom: solid 1px #ccc;
  height: 50px;
  font-size: 13px;
  line-height: 50px;
}
#wrapper.features .content-wrapper ul#features-menu li a,
#wrapper.about-us .content-wrapper ul#features-menu li a,
#wrapper.privacy .content-wrapper ul#features-menu li a,
#wrapper.terms .content-wrapper ul#features-menu li a {
  display: inline-block;
  padding: 0 0 0 15px;
  margin: 0 0 0 5px;
  color: #000;
  font-size: 13px;
  width: 100%;
}
#wrapper.features .content-wrapper ul#features-menu li.selected a,
#wrapper.about-us .content-wrapper ul#features-menu li.selected a,
#wrapper.privacy .content-wrapper ul#features-menu li.selected a,
#wrapper.terms .content-wrapper ul#features-menu li.selected a {
  background: url("/images/features/menu_bg.png") no-repeat center left;
  color: #fff;
}
#wrapper.features .content-wrapper .feature-box,
#wrapper.about-us .content-wrapper .feature-box,
#wrapper.privacy .content-wrapper .feature-box,
#wrapper.terms .content-wrapper .feature-box {
  float: right;
  width: 640px;
  margin: 40px 0 0 0;
}
#wrapper.features .content-wrapper .feature-box h3,
#wrapper.about-us .content-wrapper .feature-box h3,
#wrapper.privacy .content-wrapper .feature-box h3,
#wrapper.terms .content-wrapper .feature-box h3 {
  width: 420px;
  font-size: 36px;
  margin: 30px 0 30px 0;
}
#wrapper.features .content-wrapper .feature-box p,
#wrapper.about-us .content-wrapper .feature-box p,
#wrapper.privacy .content-wrapper .feature-box p,
#wrapper.terms .content-wrapper .feature-box p {
  width: 420px;
  font-size: 16px;
}
#wrapper.features .content-wrapper .feature-box.odd,
#wrapper.about-us .content-wrapper .feature-box.odd,
#wrapper.privacy .content-wrapper .feature-box.odd,
#wrapper.terms .content-wrapper .feature-box.odd {
  text-align: left;
}
#wrapper.features .content-wrapper .feature-box.odd img,
#wrapper.about-us .content-wrapper .feature-box.odd img,
#wrapper.privacy .content-wrapper .feature-box.odd img,
#wrapper.terms .content-wrapper .feature-box.odd img {
  float: right;
}
#wrapper.features .content-wrapper .feature-box.odd h3,
#wrapper.about-us .content-wrapper .feature-box.odd h3,
#wrapper.privacy .content-wrapper .feature-box.odd h3,
#wrapper.terms .content-wrapper .feature-box.odd h3 {
  float: left;
}
#wrapper.features .content-wrapper .feature-box.odd p,
#wrapper.about-us .content-wrapper .feature-box.odd p,
#wrapper.privacy .content-wrapper .feature-box.odd p,
#wrapper.terms .content-wrapper .feature-box.odd p {
  float: left;
}
#wrapper.features .content-wrapper .feature-box.even,
#wrapper.about-us .content-wrapper .feature-box.even,
#wrapper.privacy .content-wrapper .feature-box.even,
#wrapper.terms .content-wrapper .feature-box.even {
  text-align: left;
}
#wrapper.features .content-wrapper .feature-box.even img,
#wrapper.about-us .content-wrapper .feature-box.even img,
#wrapper.privacy .content-wrapper .feature-box.even img,
#wrapper.terms .content-wrapper .feature-box.even img {
  float: left;
}
#wrapper.features .content-wrapper .feature-box.even h3,
#wrapper.about-us .content-wrapper .feature-box.even h3,
#wrapper.privacy .content-wrapper .feature-box.even h3,
#wrapper.terms .content-wrapper .feature-box.even h3 {
  float: right;
}
#wrapper.features .content-wrapper .feature-box.even p,
#wrapper.about-us .content-wrapper .feature-box.even p,
#wrapper.privacy .content-wrapper .feature-box.even p,
#wrapper.terms .content-wrapper .feature-box.even p {
  float: right;
}
