light-green = #7e962d
light-gray  = #575757
light-blue  = #5b8fa3
bg-blue     = #E6F1F5
white-gray  = #F2F2F2

*
  margin 0
  padding 0

.hidden
  display none

.invisible
  opacity 0

.photo-frame
  display inline-block
  background #EEE
  padding 4px
  border-radius 5px

body
  font-size 11px
  font-family "lucida grande",tahoma,verdana,arial,sans-serif

a
  color light-blue
  outline none

:-moz-any-link:focus
  outline none

h1
  color light-gray
  font-size 15px
  margin 10px 0 10px 0

h2
  color light-gray
  font-size 13px
  margin 10px 0 10px 0
  text-transform uppercase

h3
  font-size 11px

ul
  list-style-type none

form
  overflow hidden
  div
    margin 0 0 10px 0

#show-password
  padding 0 0 0 10px

header
  text-align center
  height 55px
  background #86bfdb
  #header-wrapper
    width 970px
    margin auto
    overflow hidden
    text-align left
    #logo
      margin 8px 0 0 0
    #main-menu
      float right
      margin 12px 0 0 0
      li
        display inline-block
        vertical-align middle
        margin 0 0 0 20px
        a
          color #FFF
          text-decoration none
          font-size 11px
          font-weight bold
        ul.submenu
          float right
          position absolute
          background #e1f5fc
          margin -3px 0 0 0
          li
            margin 0
            display block
            a
              display inline-block
              width 90px
              padding 5px
              background none
              color #000
            a:hover
              background #c8e9fa
      #account-bt
        height 16px
        overflow hidden
        #my-settings-bt
          display inline-block
          background url(/images/settings.png) no-repeat
          width 16px
          height 16px
          span
            display none
        ul.submenu
          right 226px
      #account-bt.selected
        background-color #e1f5fc
        a
          color #000
      #my-profile-bt
        ul.submenu
          right 263px
      #my-profile-bt.selected
        background-color #e1f5fc
        a
          color #000
    #events-menu
      float right
      margin 27px 0 0 0
      li
        display block
        float left
        height 28px
        a
          color #FFF
          text-decoration none
          text-align right
          width 21px
          height 20px
          display block
          border-left solid 1px #3982a3
          padding 0 10px 0 10px
          background-repeat no-repeat
          background-position center center
        span.indicator
          background #8ca637
          color #FFF
          font-size 8px
          padding 1px 4px
          border-radius 8px
          margin 0 -5px 0 0
          border solid 1px #FFF
        ul.notification-list
          float right
          position absolute
          background #e1f5fc
          margin 8px 0 0 0
          z-index 999
          li
            margin 0
            float none
            padding 0
            border-bottom solid 1px #FFF
            border-left none
            height auto
            overflow hidden
            a
              display inline-block
              width 250px
              padding 5px
              background none
              color #000
              border none
              height auto
              overflow hidden
            a:hover
              background #c8e9fa
            .avatar
              float left
              margin 0 5px 0 0
            .message-header
              float left
              .name
                font-weight bold
                text-decoration none
                color: light-green
              .name:hover
                text-decoration underline
            .message-body
              float right
              width: 215px
              text-align left
          li.view-all-list-items-bt
            a
              text-align center
          li.unread
            background #c8e9fa
      li.messages
        border none
        a
          background-image url('/images/messages_events.png')
      li.friend-request
        a
          background url('/images/friend_requests_events.png') no-repeat center center
      li.notifications
        a
          background url('/images/notifications_events.png') no-repeat center center
      li.ccn
        a
          background url('/images/ccn_events.png') no-repeat center center
      li.selected
        background-color #e1f5fc
    #search-cnt
      float right
      margin 8px 50px 0 0
      #search-menu
        float left
        li
          cursor pointer
          span
            display none
        li.by-name
          float right
          overflow hidden
          a
            display block
            width 64px
            height 15px
            margin 0 0 0 10px
            background url('/images/search_by_name_bt.png') no-repeat
        li.by-type
          float right
          a
            display block
            width 61px
            height 15px
            margin 0 0 0 5px
            background url('/images/search_by_type_bt.png') no-repeat
      #search-bar
        float left
        clear left
        width 371px
        height 26px
        background url('/images/search_bar.png') no-repeat
        #search-bt
          float right
          width 74px
          height 20px
          cursor pointer
          background transparent
          border none
          margin 3px 4px 0 0

#page-wrapper
  width 970px
  margin auto
  overflow hidden
  border-right solid 1px #d9d9d9
  border-left solid 1px #d9d9d9
  font-size 11px
  #main-column
    padding 10px 0 0 0
    width 525px
    min-height 600px
    margin auto
    text-align left
    .back-to-results-bt
      width 118px
      height 21px
      background url('/images/back_to_results_bt.png') no-repeat
      display block
      span
        display none
    #profile-title
      width 350px
    .qq-upload-button
      float right
      top -42px
      padding 7px
      width auto
    .qq-upload-list
      min-height 15px
    #profile-tab-menu
      float right
      border-bottom solid 1px #f0f0f0
      width 100%
      margin 0 0 15px 0
      li
        float right
        a
          display block
          span
            display none
      li.view-info
        a
          width 90px
          height 24px
          background url('/images/profile_info_bt.png') no-repeat
      li.view-info.tab-active
        a
          background url('/images/profile_info_selected_bt.png') no-repeat
      li.view-on-map
        a
          width 91px
          height 24px
          background url('/images/profile_view_on_map_bt.png') no-repeat
      li.view-on-map.tab-active
        a
          background url('/images/profile_view_on_map_selected_bt.png') no-repeat
    #nav-buttons-menu
      float right
      border-bottom solid 1px #f0f0f0
      width 100%
      margin -30px 0 15px 0
      li
        float right
        a
          display block
          width 90px
          height 24px
          background white-gray
          border-top-left-radius 5px
          border-top-right-radius 5px
          text-align center
          text-decoration none
          span
            color light-gray
            line-height 24px
        a:hover
          background light-blue
          span
            color white
    #profile-general-info
      text-align justify
      clear both
      li
        display inline
        margin 0 10px 5px 0
        border-right solid 1px #c9c9c9
        padding 0 10px 0 0
        color #a1a1a1
        span.value
          font-weight bold
          color #5B8FA3
    #day-care-list
      margin 10px 0 0 20px
      li
        margin 0 0 10px 0
    #add-comment-box
      margin 15px 0 0 0
      form
        border-radius 3px
        padding 3px
        background bg-blue
        margin 0
        div
          background #fff
          border-top solid 1px #d9d9d9
          border-left solid 1px #d9d9d9
          margin 0
          padding 3px
          textarea
            resize none
            height 5px
            width 405px
            border none
            box-shadow none
          input
            padding 3px 14px 3px 14px
        #status-privacy-select
          width 30px

    #wall-comments-list
      margin 0 0 5px 0
      li
        overflow hidden
        margin 2px 0 2px 0
        .avatar
          float left
          margin 0 5px 0 0
        .comment-header
          .name
            font-weight bold
            text-decoration none
          .name:hover
            text-decoration underline
          .delete-comment, .edit-comment
            float right
            margin 0 0 0 5px
            display none
        .comment-text
          width 452px
          float left
        .status-cnt
          background #f2f2f2
          border-top-radius 5px
          padding 4px
          overflow hidden
          .photo-frame
            background-color light-blue
            margin 5px 0 0 0
            padding 2px
          .hidden
            display none
        .status-cnt:hover
          .delete-comment, .edit-comment
            display inline
        .comment-edit-textarea
          resize none
          width 440px
          height 50px
          margin 10px 0 0 0
      li.status
        padding 10px 0 0 0
        margin 10px 0 0 0
        border-top solid 1px #f2f2f2
      ul.followups
        li.followup
          background bg-blue
          margin 2px 0 2px 0
          padding 4px
          .avatar
            float left
            margin 0 5px 0 0
          .comment-header
            .name
              font-weight bold
              text-decoration none
              color: light-green
            .name:hover
              text-decoration underline
        li.followup:hover
          .delete-comment, .edit-comment
            display inline
      div.add-followup-box
        margin 0 0 0 0
        form
          border-bottom-radius 3px
          padding 3px
          background bg-blue
          margin 0
          div
            background #fff
            border-top solid 1px #d9d9d9
            border-left solid 1px #d9d9d9
            margin 0
            padding 3px
            textarea
              resize none
              height 5px
              width 450px
              border none
              box-shadow none
            input
              padding 3px 14px 3px 14px
    #load-more-comments-cnt
      background: white-gray
      margin: 0 0 5px 0
      padding 10px
      cursor pointer
      a
        text-decoration none
    #load-more-comments-cnt:hover
      a
        text-decoration underline
    #messages-list
      margin 10px 0 0 0
      li
        overflow hidden
        margin 0 0 5px 0
        padding 3px
        background #f2f2f2
        border-radius 5px
        .message-header-cnt
          overflow hidden
          cursor pointer
          .delete-message-bt, .edit-draft-message-bt
            display block
            float right
            color #8a8a8a
            text-decoration none
            margin 8px 5px 0 0
          .avatar
            float left
            margin 0 5px 0 0
          .message-header
            .name
              font-weight bold
              text-decoration none
              color: light-green
            .name:hover
              text-decoration underline
        .message-body-cnt
          width 89%
          float right
          .message-body
            padding 10px 0 10px 0
          div.add-reply-message-box
            margin 0 0 0 0
            form
              border-bottom-radius 3px
              padding 3px
              background bg-blue
              margin 0
              div
                background #fff
                border-top solid 1px #d9d9d9
                border-left solid 1px #d9d9d9
                margin 0
                padding 3px
                textarea
                  resize none
                  height 15px
                  width 374px
                  border none
                  box-shadow none
                input
                  padding 3px 14px 3px 14px
      li.unread
        background bg-blue

  #side-column1
    padding 10px 0 0 0
    float left
    width 185px
    min-height 200px
    text-align center
    #profile-bt-menu
      text-align center
      li
        text-align center
        margin 0 0 10px 0
        #profile-edit-bt
          display block
          margin auto
          width 103px
          height 20px
          background url('/images/edit_profile_bt.png') no-repeat
          span
            display none
    #profile-pic-cnt
      margin 0 0 10px 0
    #profile-left-menu, #messages-left-menu
      padding 10px 10px 10px 0
      margin 0 0 0 10px
      width 150px
      border-top solid 1px #EEE
      li
        text-align left
        padding 0
        display inline-block
        a
          font-weight normal
          text-decoration none
          display inline-block
          padding 3px 0 3px 25px
          width 135px
          background-repeat no-repeat
          background-color transparent
          background-position left 3px
          color #7a7a7a
      #gallery-menu-item
        a
          background-image url('/images/gallery_menu_bt.png')
      #wall-menu-item
        a
          background-image url('/images/wall_menu_bt.png')
      #our-family-menu-item
        a
          background-image url('/images/our_family_menu_bt.png')
      #write-menu-item
        a
          background-image url('/images/write_menu_bt.png')
      #inbox-menu-item
        a
          background-image url('/images/inbox_menu_bt.png')
      #sent-menu-item
        a
          background-image url('/images/sent_menu_bt.png')
      #draft-menu-item
        a
          background-image url('/images/draft_menu_bt.png')
      #trash-menu-item
        a
          background-image url('/images/deleted_menu_bt.png')
      li
        a:hover
          background-color #93dbe6
      li.selected
        a
          background-color #daebf4
          font-weight bold

  #side-column2
    padding 10px 0 0 0
    float right
    width 200px
    min-height 200px
    text-align left

footer
  border-top solid 1px #e8e8e8
  background url('/images/footer_border.png') repeat-x
  #footer-wrapper
    width 970px
    margin auto
    overflow hidden
    border-right solid 1px #d9d9d9
    border-left solid 1px #d9d9d9
    font-size 11px
    text-align center
    padding 30px 0 30px 0
    ul
      li
        display inline-block
        margin 0 0 10px 10px
    #copyright
      color #c4c4c4

#profile-main-tabs
  overflow hidden
  margin-top -32px

#profile-view-on-map-tab
  clear both

#profile-address-maps
  width 525px
  height 400px
  margin 10px 0 0 0

#choose-places-title
  float right
  text-transform uppercase
  padding 10px 0
  font-size 10px
  color #474747

#profile-gallery-tabs
  width 100%
  height 300px
  overflow hidden
  #profile-gallery-tab-menu
    float right
    clear right
    overflow hidden
    width 101px
    text-align right
    position relative
    li
      display inline-block
      overflow hidden
      width 95px
    li.tab-active
      background transparent url(/images/gallery_arrow.png) no-repeat left center
      padding 0 0 0 6px
      a
        color #FFF
        border-bottom solid 1px #d0dbaf
        border-top solid 1px #d0dbaf
        border-right solid 1px #d0dbaf
        background #8aa336
        border-top-right-radius 3px
        border-bottom-right-radius 3px
    a
      text-decoration none
      text-transform uppercase
      text-align left
      font-size 9px
      color #b0b0b0
      padding 5px 10px 5px 10px
      width 74px
      display inline-block
  .tab-selected
    width 430px
  .doom-carousel
    width 430px

#picture-sets-list
  padding 10px 0 0 0
  li
    width 120px
    height 140px
    overflow hidden
    float left
    margin 5px 5px 5px 5px
    h3
      padding 0 0 5px 0
      a
        text-decoration none
        color light-gray
    .photo-frame
      height 85px

#pictures-list
  li
    width 120px
    height 140px
    overflow hidden
    float left
    margin 5px 5px 5px 5px
    .photo-frame
      height 85px

#quick-message-win
  #quick-message-box-content
    padding 20px 20px 0 20px
    textarea
      width 350px
      height 90px
      margin 10px 0 10px 0
      padding 5px
      resize none

#missing-someone-cnt
  text-align right
  padding-right 150px

#quick-add-child-win
  #quick-add-child-box-content
    padding 0 20px 0 20px
    form
      margin 0
    label
      width 60px
    .input
      margin-left 70px
    select
      padding 0 10px 0 10px
      width 220px

#write-message-cnt
  textarea
    width 364px
  .chzn-choices
    width 371px

#our-family-filter
  margin 15px 0 0 0
  border-radius 3px
  padding 3px
  background bg-blue
  div
    background #fff
    border-top solid 1px #d9d9d9
    border-left solid 1px #d9d9d9
    margin 0
    padding 3px
    .input-text
      resize none
      height 10px
      width 372px
      border none
      box-shadow none

#our-family-list-cnt
  .total
    color light-green
  #our-family-list-groups
    li
      overflow hidden
      h3
        margin 5px 0 5px 0
      .our-family-list
        .our-family-member
          background #f2f2f2
          border-radius 5px
          overflow hidden
          margin 10px 0 10px 0
          padding 5px
          .avatar
            float left
          .parents-name
            float left
            width 400px
            margin 0 0 10px 10px
          .childs-name
            float left
            width 400px
            margin 0 0 10px 10px
          .staff-name
            float left
            width 400px
            margin 0 0 10px 10px
          .staff-position
            float left
            width 400px
            margin 0 0 10px 10px

#send-invite-form
  overflow visible