* {
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
.invisible {
  opacity: 0;
}
.photo-frame {
  display: inline-block;
  background: #eee;
  padding: 4px;
  border-radius: 5px;
}
body {
  font-size: 11px;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}
a {
  color: #5b8fa3;
  outline: none;
}
:-moz-any-link:focus {
  outline: none;
}
h1 {
  color: #575757;
  font-size: 15px;
  margin: 10px 0 10px 0;
}
h2 {
  color: #575757;
  font-size: 13px;
  margin: 10px 0 10px 0;
  text-transform: uppercase;
}
h3 {
  font-size: 11px;
}
ul {
  list-style-type: none;
}
form {
  overflow: hidden;
}
form div {
  margin: 0 0 10px 0;
}
#show-password {
  padding: 0 0 0 10px;
}
header {
  text-align: center;
  height: 55px;
  background: #86bfdb;
}
header #header-wrapper {
  width: 970px;
  margin: auto;
  overflow: hidden;
  text-align: left;
}
header #header-wrapper #logo {
  margin: 8px 0 0 0;
}
header #header-wrapper #main-menu {
  float: right;
  margin: 24px 0 0 0;
}
header #header-wrapper #main-menu li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 20px;
}
header #header-wrapper #main-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
}
header #header-wrapper #main-menu #account-bt {
  height: 16px;
  overflow: hidden;
}
header #header-wrapper #main-menu #account-bt a {
  display: inline-block;
  background: url("/images/settings.png") no-repeat;
  width: 16px;
  height: 16px;
}
header #header-wrapper #main-menu #account-bt a span {
  display: none;
}
header #header-wrapper #main-menu #account-bt ul.submenu {
  float: right;
  position: absolute;
  right: 226px;
  background: #e1f5fc;
  margin: -3px 0 0 0;
}
header #header-wrapper #main-menu #account-bt ul.submenu li {
  margin: 0;
}
header #header-wrapper #main-menu #account-bt ul.submenu li a {
  display: inline-block;
  width: 90px;
  padding: 5px;
  background: none;
  color: #000;
}
header #header-wrapper #main-menu #account-bt ul.submenu li a:hover {
  background: #c8e9fa;
}
header #header-wrapper #main-menu #account-bt.selected {
  background-color: #e1f5fc;
}
header #header-wrapper #main-menu #account-bt.selected a {
  color: #000;
}
header #header-wrapper #events-menu {
  float: right;
  margin: 27px 0 0 0;
}
header #header-wrapper #events-menu li {
  display: block;
  float: left;
  height: 28px;
}
header #header-wrapper #events-menu li a {
  color: #fff;
  text-decoration: none;
  text-align: right;
  width: 21px;
  height: 20px;
  display: block;
  border-left: solid 1px #3982a3;
  padding: 0 10px 0 10px;
  background-repeat: no-repeat;
  background-position: center center;
}
header #header-wrapper #events-menu li span.indicator {
  background: #8ca637;
  color: #fff;
  font-size: 8px;
  padding: 1px 4px;
  border-radius: 8px;
  margin: 0 -5px 0 0;
  border: solid 1px #fff;
}
header #header-wrapper #events-menu li ul.notification-list {
  float: right;
  position: absolute;
  background: #e1f5fc;
  margin: 8px 0 0 0;
  z-index: 999;
}
header #header-wrapper #events-menu li ul.notification-list li {
  margin: 0;
  float: none;
  padding: 0;
  border-bottom: solid 1px #fff;
  border-left: none;
  height: auto;
  overflow: hidden;
}
header #header-wrapper #events-menu li ul.notification-list li a {
  display: inline-block;
  width: 250px;
  padding: 5px;
  background: none;
  color: #000;
  border: none;
  height: auto;
  overflow: hidden;
}
header #header-wrapper #events-menu li ul.notification-list li a:hover {
  background: #c8e9fa;
}
header #header-wrapper #events-menu li ul.notification-list li .avatar {
  float: left;
}
header #header-wrapper #events-menu li ul.notification-list li .message-header {
  float: left;
}
header #header-wrapper #events-menu li ul.notification-list li .message-header .name {
  text-transform: uppercase;
  font-weight: bold;
  color: #7e962d;
}
header #header-wrapper #events-menu li ul.notification-list li .message-body {
  float: left;
}
header #header-wrapper #events-menu li ul.notification-list li.view-all-list-items-bt a {
  text-align: center;
}
header #header-wrapper #events-menu li ul.notification-list li.unread {
  background: #c8e9fa;
}
header #header-wrapper #events-menu li.messages {
  border: none;
}
header #header-wrapper #events-menu li.messages a {
  background-image: url("/images/messages_events.png");
}
header #header-wrapper #events-menu li.friend-request a {
  background: url("/images/friend_requests_events.png") no-repeat center center;
}
header #header-wrapper #events-menu li.notifications a {
  background: url("/images/notifications_events.png") no-repeat center center;
}
header #header-wrapper #events-menu li.ccn a {
  background: url("/images/ccn_events.png") no-repeat center center;
}
header #header-wrapper #events-menu li.selected {
  background-color: #e1f5fc;
}
header #header-wrapper #search-cnt {
  float: right;
  margin: 8px 50px 0 0;
}
header #header-wrapper #search-cnt #search-menu {
  float: left;
}
header #header-wrapper #search-cnt #search-menu li {
  cursor: pointer;
}
header #header-wrapper #search-cnt #search-menu li span {
  display: none;
}
header #header-wrapper #search-cnt #search-menu li.by-name {
  float: right;
  overflow: hidden;
}
header #header-wrapper #search-cnt #search-menu li.by-name a {
  display: block;
  width: 64px;
  height: 15px;
  margin: 0 0 0 10px;
  background: url("/images/search_by_name_bt.png") no-repeat;
}
header #header-wrapper #search-cnt #search-menu li.by-type {
  float: right;
}
header #header-wrapper #search-cnt #search-menu li.by-type a {
  display: block;
  width: 61px;
  height: 15px;
  margin: 0 0 0 5px;
  background: url("/images/search_by_type_bt.png") no-repeat;
}
header #header-wrapper #search-cnt #search-bar {
  float: left;
  clear: left;
  width: 371px;
  height: 26px;
  background: url("/images/search_bar.png") no-repeat;
}
header #header-wrapper #search-cnt #search-bar #search-bt {
  float: right;
  width: 74px;
  height: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  margin: 3px 4px 0 0;
}
#page-wrapper {
  width: 970px;
  margin: auto;
  overflow: hidden;
  border-right: solid 1px #d9d9d9;
  border-left: solid 1px #d9d9d9;
  font-size: 11px;
}
#page-wrapper #main-column {
  padding: 10px 0 0 0;
  width: 550px;
  min-height: 600px;
  margin: auto;
  text-align: left;
}
#page-wrapper #main-column #daycare-profile-title {
  width: 350px;
}
#page-wrapper #main-column .qq-upload-button {
  float: right;
  top: -42px;
  padding: 7px;
  width: auto;
}
#page-wrapper #main-column .qq-upload-list {
  min-height: 15px;
}
#page-wrapper #main-column #profile-tab-menu {
  float: right;
  border-bottom: solid 1px #f0f0f0;
  width: 100%;
  margin: 0 0 15px 0;
}
#page-wrapper #main-column #profile-tab-menu li {
  float: right;
}
#page-wrapper #main-column #profile-tab-menu li a {
  display: block;
}
#page-wrapper #main-column #profile-tab-menu li a span {
  display: none;
}
#page-wrapper #main-column #profile-tab-menu li.view-info a {
  width: 90px;
  height: 24px;
  background: url("/images/profile_info_bt.png") no-repeat;
}
#page-wrapper #main-column #profile-tab-menu li.view-info.tab-active a {
  background: url("/images/profile_info_selected_bt.png") no-repeat;
}
#page-wrapper #main-column #profile-tab-menu li.view-on-map a {
  width: 91px;
  height: 24px;
  background: url("/images/profile_view_on_map_bt.png") no-repeat;
}
#page-wrapper #main-column #profile-tab-menu li.view-on-map.tab-active a {
  background: url("/images/profile_view_on_map_selected_bt.png") no-repeat;
}
#page-wrapper #main-column #profile-general-info {
  text-align: justify;
  clear: both;
}
#page-wrapper #main-column #profile-general-info li {
  display: inline;
  margin: 0 10px 5px 0;
  border-right: solid 1px #c9c9c9;
  padding: 0 10px 0 0;
  color: #a1a1a1;
}
#page-wrapper #main-column #profile-general-info li span.value {
  font-weight: bold;
  color: #5b8fa3;
}
#page-wrapper #main-column #day-care-list {
  margin: 10px 0 0 20px;
}
#page-wrapper #main-column #day-care-list li {
  margin: 0 0 10px 0;
}
#page-wrapper #main-column #add-comment-box {
  margin: 15px 0 0 0;
}
#page-wrapper #main-column #add-comment-box form {
  border-radius: 3px;
  padding: 3px;
  background: #e6f1f5;
  margin: 0;
}
#page-wrapper #main-column #add-comment-box form div {
  background: #fff;
  border-top: solid 1px #d9d9d9;
  border-left: solid 1px #d9d9d9;
  margin: 0;
  padding: 3px;
}
#page-wrapper #main-column #add-comment-box form div textarea {
  resize: none;
  height: 5px;
  width: 464px;
  border: none;
  box-shadow: none;
}
#page-wrapper #main-column #add-comment-box form div input {
  padding: 3px 14px 3px 14px;
}
#page-wrapper #main-column #wall-comments-list li {
  overflow: hidden;
  margin: 2px 0 2px 0;
}
#page-wrapper #main-column #wall-comments-list li .avatar {
  float: left;
}
#page-wrapper #main-column #wall-comments-list li .comment-header .name {
  text-transform: uppercase;
  font-weight: bold;
}
#page-wrapper #main-column #wall-comments-list li .status-cnt {
  background: #f2f2f2;
  border-top-radius: 5px;
  padding: 4px;
  overflow: hidden;
}
#page-wrapper #main-column #wall-comments-list li .status-cnt .photo-frame {
  background-color: #fff;
}
#page-wrapper #main-column #wall-comments-list li.status {
  padding: 10px 0 0 0;
  margin: 10px 0 0 0;
  border-top: solid 1px #f2f2f2;
}
#page-wrapper #main-column #wall-comments-list ul.followups li.followup {
  background: #e6f1f5;
  margin: 2px 0 2px 0;
  padding: 4px;
}
#page-wrapper #main-column #wall-comments-list ul.followups li.followup .avatar {
  float: left;
}
#page-wrapper #main-column #wall-comments-list ul.followups li.followup .comment-header .name {
  text-transform: uppercase;
  font-weight: bold;
  color: #7e962d;
}
#page-wrapper #main-column #wall-comments-list div.add-followup-box {
  margin: 0 0 0 0;
}
#page-wrapper #main-column #wall-comments-list div.add-followup-box form {
  border-bottom-radius: 3px;
  padding: 3px;
  background: #e6f1f5;
  margin: 0;
}
#page-wrapper #main-column #wall-comments-list div.add-followup-box form div {
  background: #fff;
  border-top: solid 1px #d9d9d9;
  border-left: solid 1px #d9d9d9;
  margin: 0;
  padding: 3px;
}
#page-wrapper #main-column #wall-comments-list div.add-followup-box form div textarea {
  resize: none;
  height: 5px;
  width: 475px;
  border: none;
  box-shadow: none;
}
#page-wrapper #main-column #wall-comments-list div.add-followup-box form div input {
  padding: 3px 14px 3px 14px;
}
#page-wrapper #main-column #messages-list {
  margin: 10px 0 0 0;
}
#page-wrapper #main-column #messages-list li {
  overflow: hidden;
  margin: 0 0 5px 0;
  padding: 3px;
  background: #f2f2f2;
  border-radius: 5px;
}
#page-wrapper #main-column #messages-list li .message-header-cnt {
  overflow: hidden;
  cursor: pointer;
}
#page-wrapper #main-column #messages-list li .message-header-cnt .delete-message-bt,
#page-wrapper #main-column #messages-list li .message-header-cnt .edit-draft-message-bt {
  display: block;
  float: right;
  color: #8a8a8a;
  text-decoration: none;
  margin: 8px 5px 0 0;
}
#page-wrapper #main-column #messages-list li .message-header-cnt .avatar {
  float: left;
}
#page-wrapper #main-column #messages-list li .message-header-cnt .message-header .name {
  text-transform: uppercase;
  font-weight: bold;
  color: #7e962d;
}
#page-wrapper #main-column #messages-list li .message-body-cnt {
  width: 89%;
  float: right;
}
#page-wrapper #main-column #messages-list li .message-body-cnt .message-body {
  padding: 10px 0 10px 0;
}
#page-wrapper #main-column #messages-list li .message-body-cnt div.add-reply-message-box {
  margin: 0 0 0 0;
}
#page-wrapper #main-column #messages-list li .message-body-cnt div.add-reply-message-box form {
  border-bottom-radius: 3px;
  padding: 3px;
  background: #e6f1f5;
  margin: 0;
}
#page-wrapper #main-column #messages-list li .message-body-cnt div.add-reply-message-box form div {
  background: #fff;
  border-top: solid 1px #d9d9d9;
  border-left: solid 1px #d9d9d9;
  margin: 0;
  padding: 3px;
}
#page-wrapper #main-column #messages-list li .message-body-cnt div.add-reply-message-box form div textarea {
  resize: none;
  height: 5px;
  width: 396px;
  border: none;
  box-shadow: none;
}
#page-wrapper #main-column #messages-list li .message-body-cnt div.add-reply-message-box form div input {
  padding: 3px 14px 3px 14px;
}
#page-wrapper #main-column #messages-list li.unread {
  background: #e6f1f5;
}
#page-wrapper #side-column1 {
  padding: 10px 0 0 0;
  float: left;
  width: 200px;
  min-height: 200px;
  text-align: center;
}
#page-wrapper #side-column1 #profile-bt-menu {
  text-align: center;
}
#page-wrapper #side-column1 #profile-bt-menu li {
  text-align: center;
  margin: 0 0 10px 0;
}
#page-wrapper #side-column1 #profile-bt-menu li #profile-edit-bt {
  display: block;
  margin: auto;
  width: 103px;
  height: 20px;
  background: url("/images/edit_profile_bt.png") no-repeat;
}
#page-wrapper #side-column1 #profile-bt-menu li #profile-edit-bt span {
  display: none;
}
#page-wrapper #side-column1 #profile-pic-cnt {
  margin: 0 0 10px 0;
}
#page-wrapper #side-column1 #profile-left-menu,
#page-wrapper #side-column1 #messages-left-menu {
  padding: 10px;
}
#page-wrapper #side-column1 #profile-left-menu li,
#page-wrapper #side-column1 #messages-left-menu li {
  text-align: left;
  padding: 0;
  border-bottom: dashed 1px #eee;
}
#page-wrapper #side-column1 #profile-left-menu li a,
#page-wrapper #side-column1 #messages-left-menu li a {
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  padding: 3px 0 3px 25px;
  width: 147px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: left 3px;
  border-top: solid 1px #eee;
  color: #7a7a7a;
}
#page-wrapper #side-column1 #profile-left-menu #gallery-menu-item a,
#page-wrapper #side-column1 #messages-left-menu #gallery-menu-item a {
  background-image: url("/images/gallery_menu_bt.png");
}
#page-wrapper #side-column1 #profile-left-menu #wall-menu-item a,
#page-wrapper #side-column1 #messages-left-menu #wall-menu-item a {
  background-image: url("/images/wall_menu_bt.png");
}
#page-wrapper #side-column1 #profile-left-menu #write-menu-item a,
#page-wrapper #side-column1 #messages-left-menu #write-menu-item a {
  background-image: url("/images/write_menu_bt.png");
}
#page-wrapper #side-column1 #profile-left-menu #inbox-menu-item a,
#page-wrapper #side-column1 #messages-left-menu #inbox-menu-item a {
  background-image: url("/images/inbox_menu_bt.png");
}
#page-wrapper #side-column1 #profile-left-menu #sent-menu-item a,
#page-wrapper #side-column1 #messages-left-menu #sent-menu-item a {
  background-image: url("/images/sent_menu_bt.png");
}
#page-wrapper #side-column1 #profile-left-menu #draft-menu-item a,
#page-wrapper #side-column1 #messages-left-menu #draft-menu-item a {
  background-image: url("/images/draft_menu_bt.png");
}
#page-wrapper #side-column1 #profile-left-menu #trash-menu-item a,
#page-wrapper #side-column1 #messages-left-menu #trash-menu-item a {
  background-image: url("/images/deleted_menu_bt.png");
}
#page-wrapper #side-column1 #profile-left-menu li a:hover,
#page-wrapper #side-column1 #messages-left-menu li a:hover {
  background-color: #e9f2f7;
}
#page-wrapper #side-column1 #profile-left-menu li.selected a,
#page-wrapper #side-column1 #messages-left-menu li.selected a {
  background-color: #daebf4;
  font-weight: bold;
}
#page-wrapper #side-column2 {
  padding: 10px 0 0 0;
  float: right;
  width: 200px;
  min-height: 200px;
  text-align: left;
}
footer {
  border-top: solid 1px #e8e8e8;
  background: url("/images/footer_border.png") repeat-x;
}
footer #footer-wrapper {
  width: 970px;
  margin: auto;
  overflow: hidden;
  border-right: solid 1px #d9d9d9;
  border-left: solid 1px #d9d9d9;
  font-size: 11px;
  text-align: center;
  padding: 30px 0 30px 0;
}
footer #footer-wrapper ul li {
  display: inline-block;
  margin: 0 0 10px 10px;
}
footer #footer-wrapper #copyright {
  color: #c4c4c4;
}
#profile-main-tabs {
  overflow: hidden;
  margin-top: -32px;
}
#profile-view-on-map-tab {
  clear: both;
}
#profile-address-maps {
  width: 550px;
  height: 400px;
  margin: 10px 0 0 0;
}
#daycare-gallery-tabs {
  width: 100%;
}
#daycare-gallery-tabs #daycare-gallery-tab-menu {
  float: right;
  width: 103px;
  height: 20px;
  text-align: center;
}
#daycare-gallery-tabs #daycare-gallery-tab-menu li.tab-active {
  background: url("/images/gallery_green_arrow.png") no-repeat;
}
#daycare-gallery-tabs #daycare-gallery-tab-menu li.tab-active a {
  color: #fff;
}
#daycare-gallery-tabs #daycare-gallery-tab-menu a {
  text-decoration: none;
  color: #000;
}
#daycare-gallery-tabs .tab-selected {
  width: 430px;
}
#daycare-gallery-tabs .doom-carousel {
  width: 430px;
}
#picture-sets-list {
  padding: 10px 0 0 0;
}
#picture-sets-list li {
  width: 170px;
  height: 180px;
  overflow: hidden;
  float: left;
  margin: 5px 5px 5px 5px;
}
#picture-sets-list li h3 {
  padding: 0 0 5px 0;
}
#picture-sets-list li h3 a {
  text-decoration: none;
  color: #575757;
}
#picture-sets-list li .photo-frame {
  height: 130px;
}
#pictures-list li {
  width: 170px;
  height: 185px;
  overflow: hidden;
  float: left;
  margin: 5px 5px 5px 5px;
}
#pictures-list li .photo-frame {
  height: 130px;
}
#quick-message-win #quick-message-box-content {
  padding: 20px 20px 0 20px;
}
#quick-message-win #quick-message-box-content textarea {
  width: 350px;
  height: 90px;
  margin: 10px 0 10px 0;
  padding: 5px;
  resize: none;
}
#write-message-cnt textarea {
  width: 388px;
}
#write-message-cnt .chzn-choices {
  width: 395px;
}
