*
  margin 0
  padding 0

.hidden
  display none

body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #5b8fa3

h1
  color #575757
  font-size 18px
  margin 10px 0 10px 0
  text-transform uppercase

h2
  color #575757
  font-size 15px
  margin 10px 0 10px 0
  text-transform uppercase

ul
  list-style-type none

form
  overflow hidden
  div
    margin 0 0 10px 0

header
  text-align center
  height 55px
  background #86bfdb
  #header-wrapper
    width 970px
    margin auto
    overflow hidden
    text-align left
    #logo
      margin 8px 0 0 0
    #main-menu
      float right
      margin 27px 0 0 0
      li
        display inline
        margin-left 20px
        a
          color #FFF
          text-decoration none
          font-size 12px
    #events-menu
      float right
      margin 27px 0 0 0
      li
        display block
        float left
        padding 0 10px 0 10px
        border-left solid 1px #3982a3
        a
          color #FFF
          text-decoration none
          width 21px
          height 20px
          display block
        span
          display none
      li.messages
        border none
        background url('/images/messages_events.png') no-repeat center center
      li.friend-request
        background url('/images/friend_requests_events.png') no-repeat center center
      li.notifications
        background url('/images/notifications_events.png') no-repeat center center
      li.ccn
        background url('/images/ccn_events.png') no-repeat center center
    #search-cnt
      float right
      margin 8px 30px 0 0
      #search-menu
        float left
        li
          cursor pointer
          span
            display none
        li.by-name
          float right
          overflow hidden
          a
            display block
            width 64px
            height 15px
            margin 0 0 0 10px
            background url('/images/search_by_name_bt.png') no-repeat
        li.by-type
          float right
          a
            display block
            width 61px
            height 15px
            margin 0 0 0 5px
            background url('/images/search_by_type_bt.png') no-repeat
      #search-bar
        float left
        clear left
        width 371px
        height 26px
        background url('/images/search_bar.png') no-repeat
        #search-bt
          float right
          width 74px
          height 20px
          cursor pointer
          background transparent
          border none
          margin 3px 4px 0 0

#page-wrapper
  width 970px
  margin auto
  overflow hidden
  border-right solid 1px #d9d9d9
  border-left solid 1px #d9d9d9
  font-size 12px
  #main-column
    padding: 10px 0 0 0
    width 550px
    min-height 600px
    margin auto
    text-align left
    #profile-tab-menu
      float right
      border-bottom solid 1px #f0f0f0
      width 100%
      margin 0 0 15px 0
      li
        float right
        a
          display block
          span
            display none
      li.view-info
        a
          width 90px
          height 24px
          background url('/images/profile_info_bt.png') no-repeat
      li.view-on-map
        a
          width 91px
          height 24px
          background url('/images/profile_view_on_map_bt.png') no-repeat
    #profile-general-info
      text-align left
      li
        display inline-block
        margin 0 10px 5px 0
        border-right solid 1px #c9c9c9
        padding 0 10px 0 0
        color #a1a1a1
        span
          font-weight bold
    #day-care-list
      margin 10px 0 0 20px
      li
        margin 0 0 10px 0
  #side-column1
    padding: 10px 0 0 0
    float left
    width 200px
    min-height 200px
    text-align center
    #profile-bt-menu
      text-align center
      li
        text-align center
        margin 0 0 10px 0
        #profile-edit-bt
          display block
          margin auto
          width 103px
          height 20px
          background url('/images/edit_profile_bt.png') no-repeat
          span
            display none
    #profile-pic-cnt
      margin 0 0 10px 0
    #profile-left-menu
      padding 10px
      li
        text-align left
        padding 0
        border-bottom dashed 1px #EEE
        a
          font-weight bold
          text-decoration none
          display inline-block
          padding 10px 0 10px 25px
          width 90%
      #gallery-menu-item
        border-top solid 1px #EEE
        a
          background url('/images/gallery_menu_bt.png') no-repeat left 9px

  #side-column2
    padding: 10px 0 0 0
    float right
    width 200px
    min-height 200px
    text-align left

footer
  border-top solid 1px #e8e8e8
  background url('/images/footer_border.png') repeat-x
  #footer-wrapper
    width 970px
    margin auto
    overflow hidden
    border-right solid 1px #d9d9d9
    border-left solid 1px #d9d9d9
    font-size 12px
    text-align center
    padding 30px 0 30px 0
    ul
      li
        display inline-block
        margin 0 0 10px 10px
    #copyright
      color #c4c4c4

#profile-main-tabs
  overflow hidden

#profile-view-on-map-tab
  clear both

#profile-address-maps
  width 550px
  height 400px
  margin 10px 0 0 0

#daycare-gallery-tabs
  width 100%
  #daycare-gallery-tab-menu
    float right
    width 103px
    height 20px
    text-align center
    li.tab-active
      background url('/images/gallery_green_arrow.png') no-repeat
      a
        color #FFF
    a
      text-decoration none
      color #000
  .tab-selected
    width 430px
  .doom-carousel
    width 430px

#picture-sets-list
  li
    width 170px
    overflow hidden
    float left
    margin 5px 5px 5px 5px

#pictures-list
  li
    width 170px
    overflow hidden
    float left
    margin 5px 5px 5px 5px