* {
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
.photo-frame {
  display: inline-block;
  background: #eee;
  padding: 4px;
  border-radius: 5px;
}
body {
  font-size: 11px;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}
a {
  color: #5b8fa3;
  outline: none;
}
:-moz-any-link:focus {
  outline: none;
}
h1 {
  color: #575757;
  font-size: 18px;
  margin: 10px 0 10px 0;
}
h2 {
  color: #575757;
  font-size: 15px;
  margin: 10px 0 10px 0;
  text-transform: uppercase;
}
ul {
  list-style-type: none;
}
form {
  overflow: hidden;
}
form div {
  margin: 0 0 10px 0;
}
header {
  text-align: center;
  height: 55px;
  background: #86bfdb;
}
header #header-wrapper {
  width: 970px;
  margin: auto;
  overflow: hidden;
  text-align: left;
}
header #header-wrapper #logo {
  margin: 8px 0 0 0;
}
header #header-wrapper #main-menu {
  float: right;
  margin: 27px 0 0 0;
}
header #header-wrapper #main-menu li {
  display: inline;
  margin-left: 20px;
}
header #header-wrapper #main-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}
header #header-wrapper #events-menu {
  float: right;
  margin: 27px 0 0 0;
}
header #header-wrapper #events-menu li {
  display: block;
  float: left;
  padding: 0 10px 0 10px;
  border-left: solid 1px #3982a3;
}
header #header-wrapper #events-menu li a {
  color: #fff;
  text-decoration: none;
  width: 21px;
  height: 20px;
  display: block;
}
header #header-wrapper #events-menu li span {
  display: none;
}
header #header-wrapper #events-menu li.messages {
  border: none;
  background: url("/images/messages_events.png") no-repeat center center;
}
header #header-wrapper #events-menu li.friend-request {
  background: url("/images/friend_requests_events.png") no-repeat center center;
}
header #header-wrapper #events-menu li.notifications {
  background: url("/images/notifications_events.png") no-repeat center center;
}
header #header-wrapper #events-menu li.ccn {
  background: url("/images/ccn_events.png") no-repeat center center;
}
header #header-wrapper #search-cnt {
  float: right;
  margin: 8px 30px 0 0;
}
header #header-wrapper #search-cnt #search-menu {
  float: left;
}
header #header-wrapper #search-cnt #search-menu li {
  cursor: pointer;
}
header #header-wrapper #search-cnt #search-menu li span {
  display: none;
}
header #header-wrapper #search-cnt #search-menu li.by-name {
  float: right;
  overflow: hidden;
}
header #header-wrapper #search-cnt #search-menu li.by-name a {
  display: block;
  width: 64px;
  height: 15px;
  margin: 0 0 0 10px;
  background: url("/images/search_by_name_bt.png") no-repeat;
}
header #header-wrapper #search-cnt #search-menu li.by-type {
  float: right;
}
header #header-wrapper #search-cnt #search-menu li.by-type a {
  display: block;
  width: 61px;
  height: 15px;
  margin: 0 0 0 5px;
  background: url("/images/search_by_type_bt.png") no-repeat;
}
header #header-wrapper #search-cnt #search-bar {
  float: left;
  clear: left;
  width: 371px;
  height: 26px;
  background: url("/images/search_bar.png") no-repeat;
}
header #header-wrapper #search-cnt #search-bar #search-bt {
  float: right;
  width: 74px;
  height: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  margin: 3px 4px 0 0;
}
#page-wrapper {
  width: 970px;
  margin: auto;
  overflow: hidden;
  border-right: solid 1px #d9d9d9;
  border-left: solid 1px #d9d9d9;
  font-size: 12px;
}
#page-wrapper #main-column {
  padding: 10px 0 0 0;
  width: 550px;
  min-height: 600px;
  margin: auto;
  text-align: left;
}
#page-wrapper #main-column .qq-upload-button {
  float: right;
  top: -42px;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #fff;
  border-color: #3a77a4;
  background: #5393c2;
  background: -moz-linear-gradient(top, #5393c2 40%, #3a77a4);
  background: -webkit-linear-gradient(top, #5393c2 40%, #3a77a4);
  border-radius: 4px;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.40);
  padding: 7px;
  width: auto;
}
#page-wrapper #main-column .qq-upload-button:hover {
  background: #70aedd;
  background: -moz-linear-gradient(top, #70aedd 40%, #69a4d0);
  background: -webkit-linear-gradient(top, #70aedd 40%, #69a4d0);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.20), inset 0 1px 0 0 rgba(255,255,255,0.40);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.40);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.20), inset 0 1px 0 0 rgba(255,255,255,0.40);
}
#page-wrapper #main-column .qq-upload-list {
  min-height: 15px;
}
#page-wrapper #main-column #profile-tab-menu {
  float: right;
  border-bottom: solid 1px #f0f0f0;
  width: 100%;
  margin: 0 0 15px 0;
}
#page-wrapper #main-column #profile-tab-menu li {
  float: right;
}
#page-wrapper #main-column #profile-tab-menu li a {
  display: block;
}
#page-wrapper #main-column #profile-tab-menu li a span {
  display: none;
}
#page-wrapper #main-column #profile-tab-menu li.view-info a {
  width: 90px;
  height: 24px;
  background: url("/images/profile_info_bt.png") no-repeat;
}
#page-wrapper #main-column #profile-tab-menu li.view-info.tab-active a {
  background: url("/images/profile_info_selected_bt.png") no-repeat;
}
#page-wrapper #main-column #profile-tab-menu li.view-on-map a {
  width: 91px;
  height: 24px;
  background: url("/images/profile_view_on_map_bt.png") no-repeat;
}
#page-wrapper #main-column #profile-tab-menu li.view-on-map.tab-active a {
  background: url("/images/profile_view_on_map_selected_bt.png") no-repeat;
}
#page-wrapper #main-column #profile-general-info {
  text-align: justify;
  clear: both;
}
#page-wrapper #main-column #profile-general-info li {
  display: inline;
  margin: 0 10px 5px 0;
  border-right: solid 1px #c9c9c9;
  padding: 0 10px 0 0;
  color: #a1a1a1;
}
#page-wrapper #main-column #profile-general-info li span.value {
  font-weight: bold;
  color: #5b8fa3;
}
#page-wrapper #main-column #day-care-list {
  margin: 10px 0 0 20px;
}
#page-wrapper #main-column #day-care-list li {
  margin: 0 0 10px 0;
}
#page-wrapper #side-column1 {
  padding: 10px 0 0 0;
  float: left;
  width: 200px;
  min-height: 200px;
  text-align: center;
}
#page-wrapper #side-column1 #profile-bt-menu {
  text-align: center;
}
#page-wrapper #side-column1 #profile-bt-menu li {
  text-align: center;
  margin: 0 0 10px 0;
}
#page-wrapper #side-column1 #profile-bt-menu li #profile-edit-bt {
  display: block;
  margin: auto;
  width: 103px;
  height: 20px;
  background: url("/images/edit_profile_bt.png") no-repeat;
}
#page-wrapper #side-column1 #profile-bt-menu li #profile-edit-bt span {
  display: none;
}
#page-wrapper #side-column1 #profile-pic-cnt {
  margin: 0 0 10px 0;
}
#page-wrapper #side-column1 #profile-left-menu {
  padding: 10px;
}
#page-wrapper #side-column1 #profile-left-menu li {
  text-align: left;
  padding: 0;
  border-bottom: dashed 1px #eee;
}
#page-wrapper #side-column1 #profile-left-menu li a {
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 10px 0 10px 25px;
  width: 86.5%;
  background-repeat: no-repeat;
  background-color: transparent;
}
#page-wrapper #side-column1 #profile-left-menu #gallery-menu-item {
  border-top: solid 1px #eee;
}
#page-wrapper #side-column1 #profile-left-menu #gallery-menu-item a {
  background-image: url("/images/gallery_menu_bt.png");
  background-position: left 9px;
}
#page-wrapper #side-column1 #profile-left-menu li a:hover {
  background-color: #e9f2f7;
}
#page-wrapper #side-column1 #profile-left-menu li.selected a {
  background-color: #daebf4;
}
#page-wrapper #side-column2 {
  padding: 10px 0 0 0;
  float: right;
  width: 200px;
  min-height: 200px;
  text-align: left;
}
footer {
  border-top: solid 1px #e8e8e8;
  background: url("/images/footer_border.png") repeat-x;
}
footer #footer-wrapper {
  width: 970px;
  margin: auto;
  overflow: hidden;
  border-right: solid 1px #d9d9d9;
  border-left: solid 1px #d9d9d9;
  font-size: 12px;
  text-align: center;
  padding: 30px 0 30px 0;
}
footer #footer-wrapper ul li {
  display: inline-block;
  margin: 0 0 10px 10px;
}
footer #footer-wrapper #copyright {
  color: #c4c4c4;
}
#profile-main-tabs {
  overflow: hidden;
  margin-top: -32px;
}
#profile-view-on-map-tab {
  clear: both;
}
#profile-address-maps {
  width: 550px;
  height: 400px;
  margin: 10px 0 0 0;
}
#daycare-gallery-tabs {
  width: 100%;
}
#daycare-gallery-tabs #daycare-gallery-tab-menu {
  float: right;
  width: 103px;
  height: 20px;
  text-align: center;
}
#daycare-gallery-tabs #daycare-gallery-tab-menu li.tab-active {
  background: url("/images/gallery_green_arrow.png") no-repeat;
}
#daycare-gallery-tabs #daycare-gallery-tab-menu li.tab-active a {
  color: #fff;
}
#daycare-gallery-tabs #daycare-gallery-tab-menu a {
  text-decoration: none;
  color: #000;
}
#daycare-gallery-tabs .tab-selected {
  width: 430px;
}
#daycare-gallery-tabs .doom-carousel {
  width: 430px;
}
#picture-sets-list {
  padding: 10px 0 0 0;
}
#picture-sets-list li {
  width: 170px;
  height: 180px;
  overflow: hidden;
  float: left;
  margin: 5px 5px 5px 5px;
}
#picture-sets-list li h3 {
  padding: 0 0 5px 0;
}
#picture-sets-list li h3 a {
  text-decoration: none;
  color: #575757;
}
#picture-sets-list li .photo-frame {
  height: 130px;
}
#pictures-list li {
  width: 170px;
  height: 185px;
  overflow: hidden;
  float: left;
  margin: 5px 5px 5px 5px;
}
#pictures-list li .photo-frame {
  height: 130px;
}
