<div id="general-wrapper" class="class-edit">
  <h1>Edit profile</h1>
  <div class="content-box">
    <form id="profile-edit-form">
    	<fieldset>
    	    <input type="hidden" name="_id" value="<%=profile.get('_id') %>" />
    	    <div class="clearfix">
    	        <label for="name">Name</label>
    			<div class="input">
    	        	<input type="text" name="name" value="<%=profile.get('name') %>" />
    			</div>
    	    </div>
    	    <div class="actions">
    	        <input type="submit" id="save-profile-bt" class="btn primary" value="Save" />
    	    </div>
    	</fieldset>
    </form>
  </div>
</div>