<html>
<head>
  <title>Social Platform for Child Care Providers</title>
</head>
<body>
  <p>
    Dear {{name}} {{surname}},
  </p>
  <p>
    Over the past two years our team has been working hard to disrupt the traditional way parents find, communicate and cooperate with child care providers. As a result we created <a href="http://kindzy.com">Kindzy</a>.
  </p>
  <p>
    Kindzy is a social platform that enables child care providers and parents stay connected. It is an on-line community where parents can find trusted child care providers and stay closely connected to them.
  </p>
  <p>
    With Kindzy you will be able to:
  </p>
  <ul>
    <li>create groups based on various criteria</li>
    <li>have a database with the children enrolled, their parents and the staff that you have, with all the proper information attached to each of their profiles</li>
    <li>keep parents updated with the daily activities children are involved in</li>
    <li>contact individuals or groups via our private messaging system</li>
    <li>conduct interactive discussions through posts</li>
    <li>instantly post photos or share albums etc.</li>
  </ul>
  <p>
    Your Kindzy profile page can serve as a reflection of your vision and presence in the community. It can also eliminate the need for a website and the related costs without compromising security and accessibility on the public Internet.
  </p>

  <p>To find out more about us and learn about our features please follow the link bellow</p>
  <p>
    <a href="http://kindzy.com/features">http://kindzy.com/features</a>
  </p>
  <p>
    Please note that the registration is on the invite only basis and we have provided the link for you below:
  </p>
  <p>
    <a href="http://kindzy.com/register?invite={{id}}">http://kindzy.com/register?invite={{id}}</a>
  </p>
  <p>
    We sincerely hope that you will join us in this exciting project.
  </p>

  <p>
    Yours sincerely,
    <br />
    The Kindzy Team.
  </p>

  <p>
    <a href="http://kindzy.com"><img src="cid:logo@kindzy" /></a>
  </p>
</body>
</html>