<html>
<head>
  <title>Registartion invite from Kindzy</title>
</head>
<body>
  <p>
    Hi {{name}} {{surname}},
  </p>
  <p>
    Kindzy would like you to join it's network on <a href="http://kindzy.com">Kindzy.com</a>.
    <br />
    Please follow the link bellow to register:
  </p>
  <p>
    <a href="http://kindzy.com/register?invite={{id}}">http://kindzy.com/register?invite={{id}}</a>
  </p>
  <p>
    Thank you,
    <br />
    Kindzy Team
  </p>
  <p>
    <a href="http://kindzy.com"><img src="cid:logo@kindzy" /></a>
  </p>
</body>
</html>