<div id="general-wrapper" class="parent-edit">
  <h1>Edit profile</h1>
  <div class="content-box">
    <form id="profile-edit-form">
    	<fieldset>
    	    <input type="hidden" name="_id" value="<%=profile.get('_id') %>" />
    	    <div class="clearfix">
    	        <label for="name" class="title">Name</label>
    			<div class="input">
    	        	<input type="text" name="name" value="<%=profile.get('name') %>" class="required" />
    			</div>
    	    </div>
    	    <div class="clearfix">
    	        <label for="name" class="title">Surname</label>
    			<div class="input">
    	        	<input type="text" name="surname" value="<%=profile.get('surname') %>" class="required" />
    			</div>
    	    </div>
    	    <div class="clearfix">
    	        <label for="phone" class="title">Phone</label>
    			<div class="input">
    	        	<input type="text" name="phone" value="<%=profile.get('phone') %>" class="required" />
    			</div>
    	    </div>
    	    <div class="actions">
    	        <input type="submit" id="save-profile-bt" class="btn primary" value="Save" />
    	    </div>
    	</fieldset>
    </form>
  </div>

  <h2>Edit children</h2>
  <div class="content-box" id="edit-children-cnt">
  </div>
</div>