<div id="invite-parents-wrapper">
  <h1>Invite parents to join your network</h1>

  <div id="send-invite-cnt">
    <form id="send-invite-form">
      <fieldset>

        <div class="content-box">
          <div class="clear">
            <label class="title">Mother's name</label>
            <div class="input">
              <input type="text" name="mothers-name" value="" />
            </div>
          </div>
          <div class="clear">
            <label class="title">Mother's surname</label>
            <div class="input">
              <input type="text" name="mothers-surname" value="" />
            </div>
          </div>
          <div class="clear">
            <label class="title">Mother's E-mail</label>
            <div class="input">
              <input type="text" name="mothers-email" value="" />
            </div>
          </div>
        </div>

        <div class="content-box">
          <div class="clear">
            <label class="title">Father's name</label>
            <div class="input">
              <input type="text" name="fathers-name" value="" />
            </div>
          </div>
          <div class="clear">
            <label class="title">Father's surname</label>
            <div class="input">
              <input type="text" name="fathers-surname" value="" />
            </div>
          </div>
          <div class="clear">
            <label class="title">Father's e-mail</label>
            <div class="input">
              <input type="text" name="fathers-email" value="" />
            </div>
          </div>
        </div>

        <div class="content-box">
          <div class="clearfix">
    	      <label class="title">Children</label>
      			<div class="input">
            	<select multiple="multiple" name="children_ids" class="chzn-select" data-placeholder="Add a child...">
    	        <%
    	            _.each(classes, function (daycareClass) {
    	        %>
    	          <optgroup label="<%= daycareClass.name %>">
    	            <%
    	              _.each(children, function (child) {
    	                if (child.get("user_id") === daycareClass._id) {
    	            %>
    	              <option value="<%= child.get("_id") %>"><%= child.get("name") %> <%= child.get("surname") %></option>
    	            <%
                      }
                    });
    	            %>
    	          </optgroup>
    	        <%
    	            });
    	        %>
    	        </select>
      			</div>
    			</div>

    			<p id="missing-someone-cnt">
    			 <a href="#" id="open-add-child-box-bt">Missing someone?</a>
    			</p>
  	    </div>
        <div class="actions">
  	        <input type="submit" id="send-invite-bt" class="btn primary" value="Send" />
  	    </div>
      </fieldset>
    </form>
  </div>

  <p class="title">Sent invites</p>

  <table class="bordered-table zebra-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Sent on</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody id="friend-requests-list">
    </tbody>
  </table>
</div>