<%
  var index = 0;
  _.each(friendRequests.models, function (friendRequest) {
    index++;
    var friendRequestId = friendRequest.get("_id");
%>
<tr>
    <td><%= index %></td>
    <td><a href="#" data-id="<%= friendRequestId %>" title="Click to edit classes" class="staff-name"><%= friendRequest.get("name") %> <%= friendRequest.get("surname") %></a></td>
    <td><%= friendRequest.get("email") %></td>
    <td><%= new Date(friendRequest.get("created_at")).format("mmm d, yyyy HH:MM") %></td>
    <td><%= friendRequest.get("status") %></td>
</tr>
<tr id="class-cnt-<%= friendRequestId %>" class="hidden">
  <td> </td>
  <td colspan="4">
    <form class="friend-request-class-form" data-id="<%= friendRequestId %>">
      <fieldset>
        <div class="clearfix">
    	    <label>Classes</label>
      	  <div class="input">
      	    <select multiple="multiple" name="classes_ids" class="chzn-select" data-placeholder="Add a class...">
  	        <%
  	            _.each(classes, function (daycareClass) {
                  var isSelected = $.inArray(daycareClass._id, friendRequest.get("classes_ids")) > -1 ? true : false;
  	        %>
              <option value="<%= daycareClass._id %>" <% if (isSelected) { %>selected="selected"<% } %>><%= daycareClass.name %> <%= daycareClass.surname %></option>
  	        <%
  	            });
  	        %>
  	        </select>
          </div>
        </div>
        <div class="actions">
          <input type="submit" id="send-invite-bt" class="btn primary" value="Save" />
  	    </div>
	    </fieldset>
    </form>
  </td>
</tr>
<%
  });
%>