#action-box
  a.request-invite-bt(href="#", id="request-invite-link") Request invite

  p#registered-memebers-text Registered memebers,
    a(href="#", id="open-login-link") &nbsp;login here
    .

h1#explore About Us

div#about-us
  br
  br
  br
  br
  br

  h3 Whats Kindzy

  p Kindzy is a social platform that helps child care providers and parents stay connected.

  h3 Parents

  p Parent involvement in a child's education is a right as well as an obligation. Today’s educational system is having a hard time. We all know it, it is  a reality we all face. It touches each of us directly and it is our responsibility to do something about it and not rely solely on the government to fix it. It is mainly our problem as it is theirs because it's concerning the future of our own children. Education first of all starts at home and then at school, and each parent wants and needs to be as involved as he/she can be in order to give the best education to his/her child.
  p Kindzy understands the challenges a parent goes through raising and educating a child. Clearly, there is no right handbook on educating a child, and nobody is born knowing all this, you have to learn it along the way. Parents also need help, and a lot. So why not take advantage of the resources that we already have. As long as you share the same child care provider with other parents, it is the biggest mistake to not take advantage of it and be more connected with them. Children of the same age go through the same set of problems or development stages, parents, on the other hand, are facing the same problems and challenges. Parents have to share more about the hard and also the wonderful times that they go through raising their children, thus learning from each other and choosing the best for their kids. Sometimes all you need is just a confirmation  that what you are doing is right and it means the world to you. It is always easier to get through hard times and find the right answers if you are not alone. Kindzy gives you the opportunity to connect and communicate with the other parents and educators from your child care provider no matter where you are: work, coffee shop, home, business trip or a vacation. Share and support each other and this will be a first step in making a better change in our children’s future. A small step for parents, a big step for the education of our children.

  h3 Child care providers

  p The hardest job in this world relies not on economists, doctors, lawyers, policeman, politicians etc. but actually on the child care providers. They have the big responsibility on shaping the right psychosocial developments of a child. If done right, those are the next doctors, teachers, firemen or economists. It is a bumpy road with lots of obstacles along the way, but the outcome is worth every single drop of sweat and sleepless nights. You may not get the right credit and praise for it, as the big universities do, but as Benjamin Franklin said "Compromisers may not be great heroes, but they do make great democracies".
  p Kindzy understands the challenges a child care provider faces and is here to help make a change to the better. We created a platform that will help you become a better child care provider; therefore would impact a change to the better in the education of our future generations. Because parents are always busy, child care providers don't get the communication and feedback needed in order to improve their services, therefore becoming better is a harder goal to achieve. We tried to change that, so bringing you closer was our goal that we had to achieve. Now you can keep  parents up to date with the daily flow of things happening in the groups their children are in, you can communicate and get all the feedback you need from parents by having individual chats or group discussions, you can share children photos  on a daily basis so parents would feel more connected to their offspring during the day or just share(post?) albums from the events you had, you can connect to other child care providers and share experiences or organize mutual events etc . The list can go on and on on how you can use our platform in order to become better.
  p Heroes are not born, heroes become. And the real heroes are the ones who strive for the common good of our civilization and bring their value to it on a daily basis.
  p This is just the beginning, we pledge not to stop here and will do everything in our powers to make this change happen and to help child care providers and parents to become better for the good of our children’s future.

  p Kindzy Team


include _invite_login_modals
