#action-box
  a.request-invite-bt(href="#", id="request-invite-link") Request invite

  p#registered-memebers-text Registered memebers,
    a(href="#", id="open-login-link") &nbsp;login here
    .

h1#explore Explore
h2#great-features All the great features we have for you at Kindzy

p#with-kindzy-explained With Kindzy you’ll have access to all the tools you need to run a modern and social child care center and be in contact with all the parents, your staff and know what the kids are doing and learning. We’re offering a simple, social, mobile and free solution so that you can start wowing your customers today.

#testimonials-cnt
  .testimonial
    blockquote &ldquo;Kindzy transformed our school and transported us in the social era in a matter of days! Incredible.&rdquo;
    span.author Josh Fender, Bear preschool

ul#features-menu
  li.selected
    a(href="#personal-news-feed") Personal News Feed
  li
    a(href="#site-wide-notifications") Site-Wide Notifications
  li
    a(href="#effortless-setup") Effortless Setup
  li
    a(href="#multi-class-support") Multi Class Support
  li
    a(href="#all-around-social") All Around Social
  li
    a(href="#country-wide-directory") Country Wide Directory
  li
    a(href="#photo-gallery") Photo Gallery

#personal-news-feed.feature-box.odd
  img(src="/images/features/personal_news_snapshot.png")
  h3 Personal news feed
  p Have everything happening with your organization in one place, easy to access, interactive and social at the same time. Quickly respond to parents and staff with privacy tools in place.

#site-wide-notifications.feature-box.even
  img(src="/images/features/sitewide_snapshot.png")
  h3 Site-wide notifications
  p Solve arising problems in an instant with our versatile site-wide notification system. <br> We offer a wide range of notifications, from messages, staff additions, new kids enrollment, messages to overall school activity. All instant.

#effortless-setup.feature-box.odd
  img(src="/images/features/efortless_snapshot.png")
  h3 Effortless Setup
  p Once you create your school profile, you have a smart guide to aid you. <br> Everything else is configuring by itself and you’ll feel like magic is happening behind every page.

#multi-class-support.feature-box.even
  img(src="/images/features/multi_class_snapshot.png")
  h3 Multi Class Support
  p If you have multiple classes, that’s not a problem. <br> We’ve sorted a quick context switch so you can easily see exactly what’s happening with a single click. <br> Have everything in one place or see individual discussions, you decide.

#all-around-social.feature-box.odd
  img(src="/images/features/all_around_snapshot.png")
  h3 All Around Social
  p Everybody knows exactly what they need to know at any time in the easiest possible way. <br> Through notifications, class news feeds, school wide news feeds, messages, user profiles and discussions we’ve got you covered for everything.

#country-wide-directory.feature-box.even
  img(src="/images/features/country_snapshot.png")
  h3 Country Wide Directory
  p Keeping in touch, sharing experiences and organizing mutual events for the benefit of the children has never been easier with our country wide directory. Connecting the child care centers and parent communities between them is now one click away. (coming soon)

#photo-gallery.feature-box.odd
  img(src="/images/features/photo_snapshot.png")
  h3 Photo Gallery
  p Child care centers can keep parents up to date with photos of childrens day to day activity and event albums, all in one place. And parents can now share photos of their kids taken outside the child care center.


include _invite_login_modals
