#site-preview

#call-to-action
  p#tagline Easy, free and effortless communication for

  h1#parent-educators Parents &amp; Educators

  p#action-buttons
    a.request-invite-cnt(href="#", id="request-invite-link") Request invite
    a.take-the-tour-cnt(href="/features", id="take-the-tour-link") Take the tour

  p#registered-memebers-text Registered memebers,
    a(href="#", id="open-login-link") &nbsp;login here
    .

  #arrow-left

#testimonials-cnt
  .testimonial
    blockquote &ldquo;Frequent updates, notifications, alerts and very quick responses to our questions – this is what we got with Kindzy. &rdquo;
    span.author Mark and Sally, San Francisco, CA
  .testimonial.hidden
    blockquote &ldquo;My husband and I are so delighted with Kindzy, we feel like all this innovations finally is paying off. &rdquo;
    span.author Emily B., San Bruno, CA
  .testimonial.hidden
    blockquote &ldquo;Shortly after we started to use kindzy, we realized that now we are backed up by an entire team – a great parent’s team, and this is what makes this experience much better - thanks guys.&rdquo;
    span.author Jennifer W., San Francisco, CA
  ul#testimonials-scroller
    li.selected(data-index="0")
      a(href="#")
    li(data-index="1")
      a(href="#")
    li(data-index="2")
      a(href="#")

ul#feature-boxes
  li#communicate-box
    h2 Communicate easily
    p We've built the tools you'll need to have everyone up to date with all the events.
  li#be-present-online-box
    h2 Be present online
    p Keep track of your kids, staff and have them connect effortlessly with the parents.
  li#create-communities-box
    h2 Create communities
    p Establishing a strong connection with the parents is vital. Having them in your community is pricelles.


include _invite_login_modals
