<%
  _.each(listItems, function (item) {
    var pictureSets = new Kin.PictureSetsCollection();
    var avatar = pictureSets.getPrimaryPicture(item.from_user.picture_sets);
    var avatarUrl = avatar ? avatar.thumb_url : Kin.CONFIG.noPicture;

%>
<li class="<%= item.unread ? 'unread' : '' %>">

  <%
    if (item.type === 'default') {
  %>
  <a href="#messages/inbox">
    <p class="avatar">
      <img src="<%= avatarUrl %>" width="30" height="30" />
    </p>
    <p class="message-header">
      <%
        var messageUser = $.inArray(item.type, ["sent", "draft"]) > -1 ? item.to_user : item.from_user;
        var messageDate = $.timeago(_.escape(item.created_at));
        var name = (messageUser.name || "") + " " + (messageUser.surname || "");
      %>
      <span class="name" id="message-to-name"><%= _.escape(name) %></span> <span class="time"><%= messageDate %></span>
    </p>
        <br />
    <p class="message-body">
      <%
        print(_.escape(item.content.substr(0, 30)));
      %>
      ...
    </p>
  </a>
  <%
    }
  %>

  <%
    if (item.type === 'feed') {
  %>
  <a href="#day-cares/view/<%= item.wall_id %>">
    <p class="avatar">
      <img src="<%= avatarUrl %>" width="30" height="30" />
    </p>
    <p class="message-header">
      <%
        var messageUser = item.from_user;
        var messageDate = $.timeago(_.escape(item.created_at));
        var name = (messageUser.name || "") + " " + (messageUser.surname || "");
      %>
      <span class="name" id="message-to-name"><%= _.escape(name) %></span> <span class="time"><%= messageDate %></span>
    </p>
        <br />
    <p class="message-body">
      <%
        print(_.escape(item.content));
      %>
    </p>
  </a>
  <%
    }
  %>

  <%
    if (item.type === 'alert') {
  %>
  <a href="#day-cares/view/<%= item.wall_id %>">
    <p class="avatar">
      <img src="<%= avatarUrl %>" width="30" height="30" />
    </p>
    <p class="message-header">
      <%
        var messageUser = item.from_user;
        var messageDate = $.timeago(_.escape(item.created_at));
        var name = (messageUser.name || "") + " " + (messageUser.surname || "");
      %>
      <span class="name" id="message-to-name"><%= _.escape(name) %></span> <span class="time"><%= messageDate %></span>
    </p>
        <br />
    <p class="message-body">
      <%
        print(_.escape(item.content));
      %>
    </p>
  </a>
  <%
    }
  %>

</li>
<%
  });
%>

<%
  if (listId === "last-messages") {
%>
<li class="view-all-list-items-bt">
  <a href="#messages/inbox">
      View all messages
  </a>
</li>
<%
  }
%>
