<li class="notification-title">
  <%
    var notificationsTitle = "";
    switch (listId) {
      case "last-messages":
        notificationsTitle = "Messages";
        break;
      case "last-followups":
        notificationsTitle = "Followups";
        break;
      case "last-wall-posts":
        notificationsTitle = "Feed";
        break;
      case "last-requests":
        notificationsTitle = "Requests";
        break;
    };
  %>
  <span><%= notificationsTitle %></span>
</li>
<%
  _.each(listItems, function (item) {
    var pictureSets = new Kin.PictureSetsCollection();
    var avatar = pictureSets.getPrimaryPicture(item.from_user.picture_sets);
    var avatarUrl = avatar ? avatar.mini_url : Kin.CONFIG.noPicture;
    if (item.type !== 'default') {
      var uniqueFromIds = _.uniq(item.from_id);
      var otherUsersCount = uniqueFromIds.length - 1;
      var otherUsersCountText = otherUsersCount > 0 ? "and " + otherUsersCount + " other" : "";
      otherUsersCountText += otherUsersCount > 1 ? "s" : "";
    }
%>
<li class="<%= item.unread ? 'unread' : '' %>">

  <%
    if (item.type === 'default') {
      var messageUser = $.inArray(item.type, ["sent", "draft"]) > -1 ? item.to_user : item.from_user;
      var messageDate = $.timeago(_.escape(item.created_at));
      var name = (messageUser.name || "") + " " + (messageUser.surname || "");
  %>
  <a href="#messages/from/<%= messageUser._id %>">
    <p class="avatar">
      <img src="<%= avatarUrl %>" width="50" height="50" />
    </p>
    <p class="message-header">
      <span class="name" id="message-to-name"><%= _.escape(name) %></span>
    </p>
    <p class="message-body">
      <%
        print(_.escape(Kin.Helper.Text.truncate(item.content, 37)));
      %>
    </p>
    <p class="time"><%= messageDate %></p>
  </a>
  <%
    }
  %>

  <%
    if (item.type === 'feed') {
  %>
  <a href="#comments/view/<%= item.comment_id %>">
    <p class="avatar">
      <img src="<%= avatarUrl %>" width="50" height="50" />
    </p>
    <p class="message-header">
      <%
        var messageUser = item.from_user;
        var messageDate = $.timeago(_.escape(item.updated_at));
        var name = (messageUser.name || "") + " " + (messageUser.surname || "");
      %>
      <span class="name" id="message-to-name"><%= _.escape(name) %></span> <%= otherUsersCountText %>
    </p>
    <p class="message-body">
      <%
        print(_.escape(item.content));
      %>
    </p>
    <p class="time"><%= messageDate %></p>
  </a>
  <%
    }
  %>

  <%
    if (item.type === 'alert') {
  %>
  <a href="#comments/view/<%= item.comment_id %>">
    <p class="avatar">
      <img src="<%= avatarUrl %>" width="50" height="50" />
    </p>
    <p class="message-header">
      <%
        var messageUser = item.from_user;
        var messageDate = $.timeago(_.escape(item.updated_at));
        var name = (messageUser.name || "") + " " + (messageUser.surname || "");
      %>
      <span class="name" id="message-to-name"><%= _.escape(name) %></span> <%= otherUsersCountText %>
    </p>
    <p class="message-body">
      <%
        print(_.escape(item.content));
      %>
    </p>
    <p class="time"><%= messageDate %></p>
  </a>
  <%
    }
  %>

  <%
    if (item.type === 'request') {
  %>
  <a href="#profiles/view/<%= item.comment_id %>">
    <p class="avatar">
      <img src="<%= avatarUrl %>" width="50" height="50" />
    </p>
    <p class="message-header">
      <%
        var messageUser = item.from_user;
        var messageDate = $.timeago(_.escape(item.updated_at));
        var name = (messageUser.name || "") + " " + (messageUser.surname || "");
      %>
      <span class="name" id="message-to-name"><%= _.escape(name) %></span>
    </p>
    <p class="message-body">
      <%
        print(_.escape(item.content));
      %>
    </p>
    <p class="time"><%= messageDate %></p>
  </a>
  <%
    }
  %>

</li>
<%
  });
%>

<%
  if (listId === "last-messages") {
%>
<li class="view-all-list-items-bt">
  <a href="#messages">
      View all messages
  </a>
</li>
<%
  }
%>
<%
  if (listId === "last-followups") {
%>
<li class="view-all-list-items-bt">
  <a href="#notifications">
      View all notifications
  </a>
</li>
<%
  }
%>
<%
  if (listId === "last-wall-posts") {
%>
<li class="view-all-list-items-bt">
  <a href="#feeds">
      View all feeds
  </a>
</li>
<%
  }
%>
<%
  if (listId === "last-requests") {
%>
<li class="view-all-list-items-bt">
  <a href="#requests">
      View all friend requests
  </a>
</li>
<%
  }
%>