<%
  var pictureSets = new Kin.PictureSetsCollection();
  var avatar = pictureSets.getPrimaryPicture(message.get("from_user").picture_sets);
  var avatarUrl = avatar ? avatar.thumb_url : Kin.CONFIG.noPicture;
  var messageUser = $.inArray(message.get("type"), ["sent", "draft"]) > -1 ? message.get("to_user") : message.get("from_user");
  var messageTime = new Date(message.get("created_at")).format("UTC:yyyy-mm-dd'T'HH:MM:ss'Z'");
  var name = (messageUser.name || "") + " " + (messageUser.surname || "");
  var content = message.get("content");
%>
<div class="message-header-cnt">
  <p class="avatar">
    <a href="#profiles/view/<%= message.get("from_user")._id %>">
      <img src="<%= avatarUrl %>" width="60" height="60" />
    </a>
  </p>
  <p class="message-header">
    <a href="#profiles/view/<%= message.get("from_user")._id %>" class="name" id="message-to-name"><%= _.escape(name) %></a> <span class="time" title="<%= messageTime %>"><%= messageTime %></span>
  </p>
  <% if (message.get("type") === "default") { %><a href="#" class="delete-message-bt"><span>Delete message</span></a><% } %>
  <% if (message.get("type") === "draft") { %><a href="#messages/write/<%= message.get("_id") %>" class="edit-draft-message-bt"><span>edit</span></a><% } %>
</div>
<div class="message-body-cnt hidden">
  <p class="message-body">
    <%
      print(Kin.Helper.Text.toMarkup(content));
    %>
  </p>
  <%
    if (message.get("type") === "default") {
  %>
  <div class="add-reply-message-box">
    <form class="add-reply-message-form" method="post" action="/messages">
      <input name="to_id" type="hidden" value="<%= message.get('from_id') %>" />
      <input name="from_id" type="hidden" value="<%= Kin.app.currentUser.get("_id") %>" />
      <input name="type" type="hidden" value="default" />
      <div>
        <textarea name="content" resize="none" placeholder="write reply ..." rows="1" cols="40"></textarea>
        <input type="submit" value="REPLY" class="btn primary" />
      </div>
    </form>
  </div>
  <%
    }
  %>
</div>