<div class="message-header-cnt">
  <p class="avatar">
    <img src="/images/no_pic.png" width="60" height="60" />
  </p>
  <p class="message-header">
    <%
      var messageUser = $.inArray(message.get("type"), ["sent", "draft"]) > -1 ? message.get("to_user") : message.get("from_user");
      var messageTime = _.escape(message.get("created_at"));
      var name = messageUser.type === "daycare" ? (messageUser.daycare_name || "") : (messageUser.name || "") + " " + (messageUser.surname || "");
    %>
    <span class="name" id="message-to-name"><%= _.escape(name) %></span> <span class="time" title="<%= messageTime %>"><%= messageTime %></span>
  </p>
  <% if (message.get("type") === "default") { %><a href="#" class="delete-message-bt"><span>delete</span></a><% } %>
  <% if (message.get("type") === "draft") { %><a href="#messages/write/<%= message.get("_id") %>" class="edit-draft-message-bt"><span>edit</span></a><% } %>
</div>
<div class="message-body-cnt hidden">
  <p class="message-body">
    <%
      var content = message.get("content");
      print(_.escape(content));
    %>
  </p>
  <%
    if (message.get("type") === "default") {
  %>
  <div class="add-reply-message-box">
    <form class="add-reply-message-form" method="post" action="/messages">
      <input name="to_id" type="hidden" value="<%= message.get('from_id') %>" />
      <input name="from_id" type="hidden" value="<%= Kin.app.currentUser.get("_id") %>" />
      <input name="type" type="hidden" value="default" />
      <div>
        <textarea name="content" resize="none" placeholder="write reply ..." rows="1" cols="40"></textarea>
        <input type="submit" value="REPLY" class="btn primary" />
      </div>
    </form>
  </div>
  <%
    }
  %>
</div>