<div id="general-wrapper" class="write-message">
  <h1>Write Message</h1>
  <form id="write-message-form">
    <fieldset>
      <input type="hidden" name="from_id" value="<%= Kin.app.currentUser.get("_id") %>" />
      <input type="hidden" name="type" value="default" />
      <div class="clear">
        <label class="title">To</label>
        <div class="input">
          <select multiple="multiple" name="to_id" class="chzn-select" data-placeholder="Add recipients...">
    		  <%
              _.each(users.models, function (user) {
                var name = user.get("name") + " " + user.get("surname");
          %>
              <option value="<%=user.get("_id") %>"><%=name %></option>
          <%
              });
          %>
          </select>
        </div>
      </div>
      <div class="clear">
        <label class="title">Message</label>
        <div class="input">
          <textarea name="content"><%= message ? message.get("content") : "" %></textarea>
        </div>
      </div>
      <div class="actions">
	        <input type="submit" id="send-message-bt" class="btn primary" value="Send" />
          <input type="button" id="save-draft-message-bt" class="btn" value="Save draft" />
	    </div>
    </fieldset>
  </form>
</div>